.inventory-item__action-modal {
  color: black;
  position: absolute;
  padding: 8px 4px 0px 4px;
  background-color: var(--color-gray);
  border-color: black;
  border-style: groove;
  border-inline-width: 3px;
  z-index: 3;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  max-width: 50%;
}

.inventory-item__action-modal-big {
  color: black;
  position: absolute;
  padding: 8px 4px 0px 4px;
  background-color: var(--color-gray);
  border-color: black;
  border-style: groove;
  border-inline-width: 3px;
  z-index: 3;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  left: 32px;
  right: 32px;
}

.inventory-item__modal-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark);
  opacity: 0.25;
  z-index: 3;
}

.inventory-item {
  cursor: pointer;
  height: 100%;
}

.inventory-item__centered-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inventory-item:hover {
  color: var(--color-x-blue-ink);
}

.inventory-item__action-modal-title {
  position: relative;
  top: 0px;
  margin: -18px 0 0 0;
  padding: 4px 28px 0 8px;
  line-height: 1.3;
  background-color: var(--color-gray);
  border-color: black;
  border-radius: 10px;
  border-block-style: groove;
  z-index: 1;
}

.inventory-item__modal-title {
  position: relative;
  top: 0px;
  margin: -18px 0 0 0;
  padding: 4px 0 0 8px;
  line-height: 1.3;
  background-color: var(--color-gray);
  border-color: black;
  border-radius: 10px;
  border-block-style: groove;
  z-index: 1;
}

.inventory-item__modal-close {
  position: absolute;
  top: -4px;
  right: 10px;
  width: 18px;
  height: 18px;
  font-size: var(--font-size-s);
  color: black;
  cursor: pointer;
  z-index: 1;
}

.inventory-item__modal-close:hover {
  color: rgb(97, 97, 97);
}

.inventory-item__modal-content {
  position: relative;
  border-color: black;
  border-inline-style: groove;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  margin: -23px 0 0 0;
  padding: 20px 8px 8px 8px;
  background-color: white;
}

.inventory-item__modal-content-text {
  position: relative;
  border-color: black;
  border-inline-style: groove;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  margin: -23px 0 0 0;
  padding: 20px 12px 12px 12px;
  background-color: white;
  text-align: left;
  overflow-y: scroll;
  max-height: 50vh;
}

.inventory-item__modal-big-content-text {
  position: relative;
  border-color: black;
  border-inline-style: groove;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  margin: -23px 0 0 0;
  padding: 20px 12px 12px 12px;
  background-color: white;
  text-align: left;
  overflow-y: scroll;
  max-height: 80vh;
}

.inventory-item__modal-content-text-padding {
  padding: 30px 12px 12px 12px;
}

.inventory-item__modal-options {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
}

.inventory-item__modal-options-left {
  padding: 0 0 0 0px;
  margin: 8px auto 0;
  text-align: left;
  font-size: var(--font-size-m);
  display: table;
  border-collapse: separate;
  border-spacing: 8px 0px;
}

.inventory-item__modal-item {
  display: table-row;
}

.inventory-item__modal-row-title {
  font-size: var(--font-size-xs);
  display: table-cell;
}

.inventory-item__modal-row-value {
  display: table-cell;
}

.inventory-item__modal-buttons {
  display: flex;
  justify-content: center;
}

.inventory-item__modal-buttons-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.inventory-item__modal-button {
  background-color: var(--color-gray);
  color: black;
  text-decoration: none;
  padding: 8px 16px 4px;
  border: 2px groove gray;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--font-family);
}

.inventory-item__modal-button:hover {
  background-color: var(--color-x-gray);
}

.inventory-item__modal-input {
  background-color: var(--color-gray);
  color: black;
  text-decoration: none;
  padding: 8px 16px 4px;
  border: 2px groove gray;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 0 0 12px;
}

.inventory-item__modal-input-small {
  margin: 0 8px 0;
  padding: 8px;
  max-width: 40px;
}

.inventory-item__amount-input {
  width: 45px;
  font-family: var(--font-family);
}

.inventory-item__modal-content-title {
  margin: 0;
}

.inventory-item__hp-container {
  margin: 16px 8px 0 8px;
}

.inventory-item__with-table {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: space-evenly;
}

.inventory-item__with-table .inventory-item__table {
  font-size: var(--font-size-xs);
  line-height: 1;
  height: 0;
}

.inventory-item__table {
  border-collapse: collapse;
}

.inventory-item__table-head {
  border-bottom: 1px solid black;
  color: gray;
}

.inventory-item__table-row {
  border-top: 1px solid lightgray;
}

.inventory-item__table-cell {
  text-align: right;
  vertical-align: top;
  padding: 4px 8px 4px 8px;
}

.inventory-item__no-wrap {
  vertical-align: top;
  white-space: nowrap;
}

.inventory-item__left {
  text-align: left;
}

.inventory-item__table-cell-level {
  text-align: center;
  padding: 4px 8px 4px 8px;
  border-left: 1px solid lightgray;
}

.inventory-item__table-cell-extra {
  text-align: center;
  padding: 4px 8px 4px 8px;
  border-left: 1px solid black;
}

.inventory-item__table-cell-small {
  width: 33%;
}

.inventory-item__add-item-button {
  position: absolute;
  right: 0;
  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--font-size-xl);
  cursor: pointer;
  color: var(--color-blue-ink);
  width: 20px;
  height: calc(100% - 8px);
  margin: 0 4px;
  padding: 0;
  line-height: 0;
  background-color: var(--color-x-gray);
}

.inventory-item__add-item-button:hover {
  background-color: var(--color-x-pale);
  transform: scale(1.1);
}

.inventory-item__drop-item-button {
  border: none;
  background: transparent;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  padding: 0;
  cursor: pointer;
}

.inventory-item__drop-item-button:hover {
  background-color: var(--color-x-gray);
  color: var(--color-x-blue-ink);
}
