.actionModal {
  color: black;
  position: absolute;
  padding: 8px 4px 0px 4px;
  background-color: var(--color-gray);
  border-color: black;
  border-style: groove;
  border-inline-width: 3px;
  z-index: 3;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  max-width: 50%;
}

.actionModalBig {
  color: black;
  position: absolute;
  padding: 8px 4px 0px 4px;
  background-color: var(--color-gray);
  border-color: black;
  border-style: groove;
  border-inline-width: 3px;
  z-index: 3;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  left: 32px;
  right: 32px;
}

.modalShadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark);
  opacity: 0.25;
  z-index: 3;
}

.item {
  cursor: pointer;
  height: 100%;
}

.centeredItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item:hover {
  color: var(--color-x-blue-ink);
}

.actionModalTitle {
  position: relative;
  top: 0px;
  margin: -18px 0 0 0;
  padding: 4px 28px 0 8px;
  line-height: 1.3;
  background-color: var(--color-gray);
  border-color: black;
  border-radius: 10px;
  border-block-style: groove;
  z-index: 1;
}

.modalTitle {
  position: relative;
  top: 0px;
  margin: -18px 0 0 0;
  padding: 4px 0 0 8px;
  line-height: 1.3;
  background-color: var(--color-gray);
  border-color: black;
  border-radius: 10px;
  border-block-style: groove;
  z-index: 1;
}

.modalClose {
  position: absolute;
  top: -4px;
  right: 10px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.modalClose:hover {
  color: rgb(97, 97, 97);
}

.modalContent {
  position: relative;
  border-color: black;
  border-inline-style: groove;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  margin: -23px 0 0 0;
  padding: 20px 8px 8px 8px;
  background-color: white;
}

.modalContentText {
  position: relative;
  border-color: black;
  border-inline-style: groove;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  margin: -23px 0 0 0;
  padding: 20px 12px 12px 12px;
  background-color: white;
  text-align: left;
  overflow-y: scroll;
  max-height: 50vh;
}

.modalBigContentText {
  position: relative;
  border-color: black;
  border-inline-style: groove;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  margin: -23px 0 0 0;
  padding: 20px 12px 12px 12px;
  background-color: white;
  text-align: left;
  overflow-y: scroll;
  max-height: 80vh;
}

.modalContentTextPadding {
  padding: 30px 12px 12px 12px;
}

.modalOptions {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
}

.modalOptionsLeft {
  padding: 0 0 0 0px;
  margin: 8px auto 0;
  text-align: left;
  font-size: 16px;
  display: table;
  border-collapse: separate;
  border-spacing: 8px 0px;
}

.modalItem {
  display: table-row;
}

.modalRowTitle {
  font-size: 12px;
  display: table-cell;
}

.modalRowValue {
  display: table-cell;
}

.modalButtons {
  display: flex;
  justify-content: center;
}

.modalButtonsColumn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modalButton {
  background-color: var(--color-gray);
  color: black;
  text-decoration: none;
  padding: 8px 16px 4px;
  border: 2px groove gray;
  border-radius: 10px;
  cursor: pointer;
  font-family: fantasy;
}

.modalButton:hover {
  background-color: var(--color-x-gray);
}

.modalInput {
  background-color: var(--color-gray);
  color: black;
  text-decoration: none;
  padding: 8px 16px 4px;
  border: 2px groove gray;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 0 0 12px;
}

.modalInputSmall {
  margin: 0 8px 0;
  padding: 8px;
  max-width: 40px;
}

.amountInput {
  width: 45px;
  font-family: fantasy;
}

.modalContentTitle {
  margin: 0;
}

.hpContainer {
  margin: 16px 8px 0 8px;
}

.withTable {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: space-evenly;
}

.withTable .table {
  font-size: 12px;
  line-height: 1;
  height: 0;
}

.table {
  border-collapse: collapse;
}

.tableHead {
  border-bottom: 1px solid black;
  color: gray;
}

.tableRow {
  border-top: 1px solid lightgray;
}

.tableCell {
  text-align: right;
  vertical-align: top;
  padding: 4px 8px 4px 8px;
}

.noWrap {
  vertical-align: top;
  white-space: nowrap;
}

.left {
  text-align: left;
}

.tableCellLevel {
  text-align: center;
  padding: 4px 8px 4px 8px;
  border-left: 1px solid lightgray;
}

.tableCellExtra {
  text-align: center;
  padding: 4px 8px 4px 8px;
  border-left: 1px solid black;
}

.tableCellSmall {
  width: 33%;
}

.addItemButton {
  position: absolute;
  right: 0;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-blue-ink);
  width: 20px;
  height: calc(100% - 8px);
  margin: 0 4px;
  padding: 0;
  line-height: 0;
  background-color: var(--color-x-gray);
}

.addItemButton:hover {
  background-color: var(--color-x-pale);
  transform: scale(1.1);
}

.dropItemButton {
  border: none;
  background: transparent;
  font-family: fantasy;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
}

.dropItemButton:hover {
  background-color: var(--color-x-gray);
  color: var(--color-x-blue-ink);
}
