body {
  margin: 0;

  --font-family: 'Rosarivo';

  font-family: var(--font-family);

  --color-green: #2b8c47;
  --color-orange: #daa645;
  --color-red: #d84343;
  --color-blue-ink: #0000d4;

  --color-x-green: #adff2f;
  --color-x-orange: #e1bd7b;
  --color-x-red: #e47777;
  --color-x-blue-ink: #7171d8;

  --color-xx-green: #eaffc9;

  --color-dark: #13151c;
  --color-base: #252937;
  --color-light: #232d40;
  --color-x-light: #3d414f;

  --color-pale: #5c687e;
  --color-x-pale: #a3b3d0;

  --color-header: #282c34;

  --color-gray: #dadad8;
  --color-x-gray: #eaeaea;

  --font-size-xxs: 0.8vw;
  --font-size-xs: 0.9vw;
  --font-size-s: 1vw;
  --font-size-m: 1.1vw;
  --font-size-l: 1.2vw;
  --font-size-xl: 1.33vw;
  --font-size-xxl: 1.46vw;
  --font-size-xxxl: 1.6vw;
  --font-size-big: 2vw;
  --font-size-xbig: 2.2vw;
  --font-size-huge: 2.7vw;
  --font-size-xhuge: 3vw;
  --font-size-gargantuan: 5.4vw;
}
