.characterList {
  font-family: fantasy;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  padding: 0 0 0 0;
  width: 80%;
  margin: 0 auto 0 auto;
}

.characterLink {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 16px;
  width: 100%;
  background-color: #252937;
}

.characterLink:hover {
  background-color: #3d414f;
}

.character {
  display: flex;
  column-gap: 16px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
}

.characterName {
  font-size: 20px;
  color: white;
  text-decoration: none;
  flex-grow: 2;
  flex-basis: 25%;
  text-align: start;
  padding: 0 0 0 32px;
}

.characterData {
  color: white;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 20%;
  text-align: start;
}
