.app,
html {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #12151c;
  min-height: 100vh;
}

.app__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  height: 8vh;
  color: white;
  font-size: var(--font-size-xxl);
}

.app__body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  height: 92vh;
}

.app__body--full-screen {
  width: 100vw;
  height: 100%;
}

.app__body--closed-sidebar {
  width: 100vw;
  height: 100%;
  justify-content: flex-start;
}

.app__sidebar {
  position: sticky;
  align-self: flex-start;
  top: 8px;
  display: flex;
  flex-direction: column;
  width: 11vw;
  padding: 8px 16px;
  margin: 8px 0;
  border-right: 1px solid #a3b3d0;
  background-color: transparent;
  color: white;
  align-items: flex-start;
  transition: width 0.5s ease-out;
  overflow-y: scroll;
  height: calc(92vh - 16px);
}

.app__sidebar--closed {
  width: 3vw;
  padding: 10vh 4px;
}

.app__sidebar-action {
  position: sticky;
  top: 4vh;
  left: 11vw;
  font-size: var(--font-size-xs);
  line-height: var(--font-size-l);
  color: var(--color-pale);
  background-color: var(--color-dark);
  width: 16px;
  height: 16px;
  transform: translate(-1vw);
  margin-top: 4vh;
  padding: 4px;
  border: 1px solid var(--color-pale);
  border-radius: 5px;
  z-index: 1;
  transition: transform 0.5s ease-out;
}

.app__sidebar-action--closed-sidebar {
  transform: translate(-8.5vw);
}

.app__sidebar-action:hover {
  cursor: pointer;
  color: var(--color-x-pale);
  background-color: var(--color-pale);
  border-color: var(--color-x-pale);
}

.app__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  color: white;
  overflow-y: scroll;
}

.app__content--fullscreen {
  align-items: center;
  width: 100vw;
}

.app__content--closed-sidebar {
  width: 100vw;
}

.app__content--fullscreen::-webkit-scrollbar {
  display: none;
}

.app__button-shadow {
  width: 0%;
  border-radius: 50%;
  text-align: start;
}

.app__button-label {
  font-size: var(--font-size-xs);
  color: var(--color-x-pale);
  margin: 4px 0 0 14px;
}

.app__button {
  min-height: 32px;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;
  width: 100%;
  /* border-radius: 50%;
  width: 0%; */
}

.app__button:hover .app__button-shadow {
  background-color: #232d40;
  animation: select-menu-item 1s;
  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  /* border-radius: 5px;
  width: 100%; */
  border-radius: 5px;
  width: 100%;
}

.app__main-button {
  margin: 2px 0;
  /* width: calc(100% - 16px); */
  /* transition: border-radius .5s ease-out, width .5s ease-out; */
}

.app__main-button .app__button-shadow {
  padding: 8px;
}

.app__main-button:hover {
  margin: 2px 0 2px 4px;
}

.app__main-button.app__button-selected {
  margin: 2px 0 2px 4px;
}

.app__secondary-button {
  margin: 0px 0 4px 12px;
  width: calc(100% - 12px);
}

.app__secondary-button .app__button-shadow {
  padding: 4px 8px;
}

.app__secondary-button .app__button-shadow--closed-sidebar {
  overflow: hidden;
  padding: 4px;
  text-align: center;
}

.app__secondary-button:hover {
  margin: 0 0 4px 16px;
}

.app__secondary-button.app__button-selected {
  margin: 0 0 4px 16px;
}

.app__tertiary-button {
  margin: 0 0 4px 20px;
}

.app__tertiary-button .app__button-shadow {
  padding: 0 8px;
}

.app__tertiary-button:hover {
  margin: 0 0 4px 24px;
}

.app__button-selected .app__button-shadow {
  background-color: #252937;
  animation: select-menu-item 0.1s forwards;
  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
}

@keyframes select-menu-item {
  0% {
    border-radius: 50%;
    width: 0px;
  }

  100% {
    border-radius: 5px;
    width: 100%;
  }
}

.app__button--closed-sidebar {
  margin: 0 0px 4px 4px;
  width: 100%;
}

.app__button--closed-sidebar:hover {
  margin: 0 0px 4px 4px;
  width: 100%;
}

.app__button-shadow--closed-sidebar {
  width: calc(100% - 16px);
}

.app__container {
  width: 95%;
  height: fit-content;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.app__container-full-screen {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.app__paragraph {
  width: 75%;
  margin: 16px auto;
  text-align: left;
}

.app__pale-text {
  color: var(--color-x-pale);
}

.app__error-text {
  color: var(--color-red);
}

.app__error-stack {
  text-align: left;
  color: var(--color-x-red);
  width: 90%;
  margin: 36px auto;
  padding: 16px 32px;
  background-color: var(--color-light);
  border: 1px solid white;
  font-family: monospace;
  line-height: 1.5;
  font-size: var(--font-size-m);
}

.app__h4 {
  text-transform: uppercase;
  color: var(--color-x-pale);
  text-align: left;
  width: 75%;
  margin: 24px auto 16px;
  padding: 0 0 0 32px;
}

.app__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
}

.app__button-big {
  font-size: var(--font-size-l);
}

.app__big-text {
  font-size: var(--font-size-xxxl);
}

.app__small-text {
  font-size: var(--font-size-s);
}

.app__tiny-text {
  font-size: var(--font-size-xs);
}

.app__filter {
  display: inline-block;
  margin: 16px 16px;
}

.app__input-number {
  font-family: var(--font-family);
}

.app__input-button {
  display: flex;
  flex-direction: column;
}

.app__input-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px 0 0;
  position: relative;
  align-items: center;
}

.app__input-button-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 0 0;
  position: relative;
  align-items: center;
}

.app__input-with-tag {
  margin: 0 0 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip--absolute {
  position: absolute;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: var(--color-dark);
  color: var(--color-x-pale);
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.new-trait {
  position: absolute;
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 0.8;
  animation: bouncing_trait 1s infinite;
  transition: margin ease-in;
  right: 0;
}

.choose-trait {
  position: absolute;
  font-size: var(--font-size-m);
  font-weight: bold;
  line-height: 0.8;
  animation: bouncing_trait 1s infinite 0.5s;
  transition: margin ease-in;
}

.leaflet-container {
  background: #000; /* Map background color */
  border: 2px solid #333; /* Optional: border around the map */
}

.html-input,
.html-input * {
  font-family: var(--font-family) !important;
  color: white !important;
  font-size: var(--font-size-m);
}

.html-export,
.html-export * {
  font-family: var(--font-family) !important;
  font-size: var(--font-size-m);
  text-align: left !important;
  background-color: white !important;
  color: black !important;
}

.html-export p {
  margin: 0 !important;
}

@keyframes bouncing_trait {
  0% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }

  33% {
    margin-top: -3px;
    transition: margin ease-in;
  }

  66% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }

  70.25% {
    color: var(--color-green);
  }

  74.5% {
    margin-top: -3px;
    color: var(--color-orange);
    transition: margin ease-in;
  }

  78.75% {
    color: var(--color-green);
  }

  83% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }

  87.25% {
    color: var(--color-green);
  }

  91.5% {
    margin-top: -1px;
    color: var(--color-orange);
    transition: margin ease-in;
  }

  95.75% {
    color: var(--color-green);
  }

  100% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
}
