.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #12151c;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  height: 8vh;
  color: white;
  font-size: 22px;
}

.body {
  display: flex;
  flex-direction: row;
  height: 92vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding: 8px;
  background-color: #5c687e;
  color: white;
  align-items: flex-end;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  color: white;
  overflow-y: scroll;
}

.mainButton {
  height: 32px;
  margin: 8px 0 8px;
  width: 100%;
  background-color: #a3b3d0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.secondaryButton {
  height: 24px;
  margin: 0 0 8px 16px;
  width: 80%;
  background-color: #a3b3d0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.tertiaryButton {
  height: 20px;
  margin: 0 0 8px 16px;
  width: 65%;
  background-color: #a3b3d0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
