.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #12151c;
}

.app__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  height: 8vh;
  color: white;
  font-size: var(--font-size-xxl);
}

.app__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 92vh;
}

.app__body--full-screen {
  width: 100vw;
  height: 100vh;
}

.app__sidebar {
  display: flex;
  flex-direction: column;
  width: 11vw;
  padding: 8px 16px;
  margin: 8px 0;
  border-right: 1px solid #a3b3d0;
  background-color: transparent;
  color: white;
  align-items: flex-start;
  overflow-y: scroll;
}

.app__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  color: white;
  overflow-y: scroll;
}

.app__content--fullscreen {
  align-items: center;
  width: 100vw;
  overflow-y: none;
}

.app__button-shadow {
  width: 0%;
  border-radius: 50%;
  text-align: start;
}

.app__button-label {
  font-size: var(--font-size-xs);
  color: var(--color-x-pale);
  margin: 4px 0 0 14px;
}

.app__button {
  min-height: 32px;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;
  width: 100%;
  /* border-radius: 50%;
  width: 0%; */
}

.app__button:hover .app__button-shadow {
  background-color: #232d40;
  animation: select-menu-item 1s;
  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  /* border-radius: 5px;
  width: 100%; */
  border-radius: 5px;
  width: 100%;
}

.app__main-button {
  margin: 2px 0;
  /* width: calc(100% - 16px); */
  /* transition: border-radius .5s ease-out, width .5s ease-out; */
}

.app__main-button .app__button-shadow {
  padding: 8px;
}

.app__main-button:hover {
  margin: 2px 0 2px 4px;
}

.app__main-button.app__button-selected {
  margin: 2px 0 2px 4px;
}

.app__secondary-button {
  margin: 0px 0 4px 12px;
  width: calc(100% - 12px);
}

.app__secondary-button .app__button-shadow {
  padding: 4px 8px;
}

.app__secondary-button:hover {
  margin: 0 0 4px 16px;
}

.app__secondary-button.app__button-selected {
  margin: 0 0 4px 16px;
}

.app__tertiary-button {
  margin: 0 0 4px 20px;
}

.app__tertiary-button .app__button-shadow {
  padding: 0 8px;
}

.app__tertiary-button:hover {
  margin: 0 0 4px 24px;
}

.app__button-selected .app__button-shadow {
  background-color: #252937;
  animation: select-menu-item 0.1s forwards;
  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
}

@keyframes select-menu-item {
  0% {
    border-radius: 50%;
    width: 0px;
  }
  100% {
    border-radius: 5px;
    width: 100%;
  }
}

.app__container {
  width: 95%;
  height: fit-content;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.app__container-full-screen {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.app__paragraph {
  width: 75%;
  margin: 16px auto;
  text-align: left;
}

.app__pale-text {
  color: var(--color-x-pale);
}

.app__error-text {
  color: var(--color-red);
}

.app__error-stack {
  text-align: left;
  color: var(--color-x-red);
  width: 90%;
  margin: 36px auto;
  padding: 16px 32px;
  background-color: var(--color-light);
  border: 1px solid white;
  font-family: monospace;
  line-height: 1.5;
  font-size: var(--font-size-m);
}

.app__h4 {
  text-transform: uppercase;
  color: var(--color-x-pale);
  text-align: left;
  width: 75%;
  margin: 24px auto 16px;
  padding: 0 0 0 32px;
}

.app__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
}

.app__button-big {
  font-size: var(--font-size-l);
}

.app__big-text {
  font-size: var(--font-size-xxxl);
}

.app__small-text {
  font-size: var(--font-size-s);
}

.app__tiny-text {
  font-size: var(--font-size-xs);
}

.app__filter {
  display: inline-block;
  margin: 16px 16px;
}

.app__input-button {
  display: flex;
  flex-direction: column;
}

.app__input-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px 0 0;
  position: relative;
  align-items: center;
}

.app__input-button-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 0 0;
  position: relative;
  align-items: center;
}

.app__input-with-tag {
  margin: 0 0 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip--absolute {
  position: absolute;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: var(--color-dark);
  color: var(--color-x-pale);
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
