.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #12151c;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  height: 8vh;
  color: white;
  font-size: 22px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 92vh;
}

.bodyFullScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding: 8px;
  background-color: #5c687e;
  color: white;
  align-items: flex-end;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  color: white;
  overflow-y: scroll;
}

.contentFullScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: white;
}

.mainButton {
  height: 32px;
  margin: 8px 0 8px;
  width: 100%;
  background-color: #a3b3d0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.secondaryButton {
  height: 24px;
  margin: 0 0 8px 16px;
  width: 80%;
  background-color: #a3b3d0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.tertiaryButton {
  height: 20px;
  margin: 0 0 8px 16px;
  width: 65%;
  background-color: #a3b3d0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.container {
  width: 95%;
  height: fit-content;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.containerFullScreen {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.paragraph {
  width: 75%;
  margin: auto;
  text-align: left;
}

.paleText {
  color: var(--color-x-pale);
}

.errorText {
  color: var(--color-red);
}

.errorStack {
  text-align: left;
  color: var(--color-x-red);
  width: 90%;
  margin: 36px auto;
  padding: 16px 32px;
  background-color: var(--color-light);
  border: 1px solid white;
  font-family: monospace;
  line-height: 1.5;
  font-size: 15px;
}
