.bio {
  width: 100%;
  position: absolute;
  top: 4px;
  bottom: 4px;
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: 6% 3% 24.5% 3% 5% 3% 18% 2.5% 4% 9% 13% 2.5%;
  grid-template-rows: 7% 1.5% 1.5% 1% 1% 4% 3% 2% 14.5% 7.8% 3% 1% 24.2% 2.5% 14.5% 1.5% 1.5% 1.5% 2%;
  /* prettier-ignore */
  grid-template-areas:
    /*******  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12 */
    /* 01 */ '.   .   .   .   .   .   .   .   .   .   .   .   ' /* 01 */
    /* 02 */ '.   .   .   .   .   .   age hei hei hei wei .   ' /* 02 */
    /* 03 */ '.   .   nam nam nam .   .   .   .   .   .   .   ' /* 03 */
    /* 04 */ '.   .   nam nam nam .   eye ski ski ski hai .   ' /* 04 */
    /* 05 */ '.   .   .   .   .   .   eye ski ski ski hai .   ' /* 05 */
    /* 06 */ '.   .   .   .   suS .   .   .   .   .   .   .   ' /* 06 */
    /* 07 */ '.   .   .   .   ali ali ali ali .   .   .   .   ' /* 07 */
    /* 08 */ '.   .   .   .   ali ali ali ali .   .   .   .   ' /* 08 */
    /* 09 */ '.   .   .   .   ali ali ali ali .   .   .   .   ' /* 09 */
    /* 10 */ '.   .   .   .   ali ali ali ali .   .   .   .   ' /* 10 */
    /* 11 */ '.   .   .   .   .   .   suA .   .   .   .   .   ' /* 11 */
    /* 12 */ '.   .   .   .   eT1 eT1 eT1 eT1 eT2 eT2 eT2 eT2 ' /* 12 */
    /* 13 */ '.   bst bst .   eT1 eT1 eT1 eT1 eT2 eT2 eT2 eT2 ' /* 13 */
    /* 14 */ '.   bst bst .   .   .   suT .   .   .   .   .   ' /* 14 */
    /* 15 */ '.   bst bst .   tre tre tre tre tre tre tre tre ' /* 15 */
    /* 16 */ '.   frm frm .   tre tre tre tre tre tre tre tre ' /* 16 */
    /* 17 */ '.   lst lst .   tre tre tre tre tre tre tre tre ' /* 17 */
    /* 18 */ '.   gng gng .   tre tre tre tre tre tre tre tre ' /* 18 */
    /* 19 */ '.   .   .   .   .   .   .   .   .   .   .   .   '; /* 19 */
  /*********  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12 */
}

.bio__background {
  width: 100%;
}

.bio__annotation {
  font-size: var(--font-size-xxs);
  position: absolute;
  top: -5px;
  left: 30px;
}

.bio__data {
  color: #0000d4;
  font-size: var(--font-size-l);
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 1;
  position: relative;
}

.bio__name {
  grid-area: nam;
  font-size: var(--font-size-big);
  justify-content: center;
  margin: 0 40px 0 0;
}

.bio__age {
  grid-area: age;
  margin: 0 0 -4px 0;
  font-size: var(--font-size-xxl);
}

.bio__height {
  grid-area: hei;
  margin: 0 0 -4px 0;
  font-size: var(--font-size-xxl);
}

.bio__weight {
  grid-area: wei;
  margin: 0 0 -4px 0;
  font-size: var(--font-size-xxl);
}

.bio__eyes {
  grid-area: eye;
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: 1.9;
  hyphens: auto;
}

.bio__skin {
  grid-area: ski;
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: 1.9;
  hyphens: auto;
}

.bio__hair {
  grid-area: hai;
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: 1.9;
  hyphens: auto;
}

.bio__allies {
  grid-area: ali;
  border: none;
  margin: 9px 4px 0px 4px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.54;
  hyphens: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.bio__backstory {
  grid-area: bst;
  border: none;
  margin: 3px 4px 0px 4px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.54;
  hyphens: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.bio__text-input {
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--color-blue-ink);
  line-height: 1.54;
  hyphens: auto;
  border: none;
  outline: none;
}

.bio__extra-traits1 {
  grid-area: eT1;
  border: none;
  margin: -2px 8px 0px 8px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.54;
  hyphens: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.bio__extra-traits2 {
  grid-area: eT2;
  border: none;
  margin: -2px 8px 0px 8px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.54;
  hyphens: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.bio__treasure {
  grid-area: tre;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 23px;
  text-align: left;
  font-size: var(--font-size-m);
  line-height: 1.36;
  hyphens: auto;
  margin: 6px 0px 0 0px;
  padding: 0 22px 0 12px;
  list-style: circle;
}

.bio__treasure-list {
  margin: 0;
  padding: 0;
}

.bio__treasure-item {
  max-width: 49%;
  margin: 0px 0 0 8px;
}

.bio__total-treasure {
  list-style: none;
  position: absolute;
  bottom: 0;
  right: -4px;
}

.bio__treasure-menu {
  position: absolute;
  right: -22px;
  top: -20px;
}

.bio__open-treasure-screen {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-size: var(--font-size-xl);
  cursor: pointer;
  color: var(--color-blue-ink);
}

.bio__open-treasure-screen:hover {
  background-color: var(--color-x-gray);
  color: var(--color-x-blue-ink);
  border-color: var(--color-x-blue-ink);
  transform: scale(1.1);
}

.bio__close-treasure-screen {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-size: var(--font-size-m);
  font-weight: bold;
  cursor: pointer;
  color: var(--color-blue-ink);
}

.bio__close-treasure-screen:hover {
  background-color: var(--color-x-gray);
  color: var(--color-x-blue-ink);
  border-color: var(--color-x-blue-ink);
  transform: scale(1.1);
}

.bio__treasure-screen {
  grid-area: tre;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 23px;
  text-align: left;
  font-size: var(--font-size-m);
  line-height: 1.36;
  hyphens: auto;
  margin: 15px;
  padding: 8px 8px 0px 8px;
  background-color: white;
  border: 8px double black;
  box-shadow: black 0px 0px 10px 0px;
  border-radius: 10px;
  border-block-start: 2px solid black;
  border-block-end: 2px solid black;
  background: var(--color-x-gray);
}

.bio__treasure-searcher-input {
  font-family: var(--font-family);
}

.bio__section-items {
  flex-grow: 1;
  align-self: stretch;
  column-count: 3;
  overflow-y: scroll;
  margin: 8px 0;
  padding: 8px 24px;
  border: 1px solid black;
  border-inline: 4px double black;
  border-radius: 10px;
  background: white;
}

/*  */

.bio__trait-label {
  font-size: var(--font-size-s);
  margin: 0;
  padding: 0;
  text-align: left;
}

.bio__trait-title {
  text-decoration: underline;
}

.bio__trait {
  font-weight: bolder;
  font-size: var(--font-size-m);
}

.bio__trait-item {
  font-weight: bolder;
  font-size: var(--font-size-m);
  margin-left: 32px;
}

.bio__weapon-select {
  font-family: var(--font-family);
  border: none;
  display: inline-flex;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.bio__weapon-select:hover {
  background-color: var(--color-x-gray);
  color: var(--color-x-blue-ink);
}

.bio__weapon-select:focus-visible {
  outline: none;
}

.bio__equip-armor {
  max-width: 160px;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  cursor: pointer;
  background-color: white;
  border-width: 1px;
  border-style: groove;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  margin: 4px 0 0 0;
  padding: 4px 0 0 0;
}

.bio__equip-armor:hover {
  background-color: var(--color-gray);
}



.bio__other-item-input {
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  border: 1px solid var(--color-x-pale);
  border-radius: 2px;
  text-align: left;
  color: var(--color-blue-ink);
}

.bio__add-other-item {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  margin: 0 0 0 4px;
  text-align: center;
  border: 1px solid var(--color-blue-ink);
  border-radius: 50%;
}

.bio__add-other-item:hover {
  cursor: pointer;
  color: var(--color-green);
  border-color: var(--color-green);
  transform: scale(1.2);
  animation: none;
}

.bio__add-other-item--animated {
  animation: bouncing_zoom 1s infinite;
}

@keyframes bouncing_zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    color: var(--color-green);
    border-color: var(--color-green);
  }

  100% {
    transform: scale(1);
  }
}

.bio__location-inputs {
  margin: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bio__location-input--natural-from {
  grid-area: frm;
}

.bio__location-input--last-location {
  grid-area: lst;
}

.bio__location-input--going-to {
  grid-area: gng;
}

.bio__location-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bio__location-input label {
  color: var(--color-blue-ink);
  font-size: var(--font-size-s);
  white-space: nowrap;
}
