.container {
  width: 95%;
  height: fit-content;
  padding: 8px 0;
  margin: auto;
  position: relative;
}

.rangeMarks {
  color: white;
}

.statsRoll {
  margin-right: 8px;
}

.canDrag {
  color: greenyellow;
}

.cannotDrag {
  color: red;
}

.skillLabel {
  display: block;
}

.statValues {
  display: flex;
  justify-content: center;
}

.statValue {
  width: 32px;
  margin: 0 8px;
  font-weight: bold;
  background-color: #a3ffa3;
}

.statValue:disabled {
  background-color: #ffaaaa;
}

.equipmentContainer {
  display: flex;
  flex-direction: column;
}

.equipment {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.equipmentOptions {
  border: 1px solid white;
  background-color: #252937;
  border-radius: 10px;
  padding: 16px;
  flex-grow: 1;
}

.equipmentItem {
  display: block;
}
