.checkbox__toRemove {
  cursor: pointer;
}

.checkbox__toRemove:hover {
  color: var(--color-x-pale);
}

.checkbox__selectedToRemove {
  text-decoration: line-through;
}

.checkbox__toSelect {
  cursor: pointer;
  padding: 4px 8px 0px;
}

.checkbox__toSelect:hover {
  color: var(--color-x-pale);
}

.checkbox__toSelect:has(input[type='radio']:checked) {
  border: 1px solid white;
  border-radius: 5px;
}

.checkbox__selectedToSelect {
  border: 1px solid white;
  border-radius: 5px;
}

.checkbox__disabledToSelect {
  color: var(--color-pale);
  cursor: initial;
}

.checkbox__disabledToSelect:hover {
  color: var(--color-pale);
}
