.dice__terminal {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.dice__history {
  height: calc(100vh - 16px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#historyAnchor {
  overflow-anchor: auto;
  height: 1px;
}

.dice__command {
  width: calc(100% - 36px);
  height: 32px;
  text-align: end;
  display: block;
  padding: 0 16px;
}

.dice__submit-command {
  display: none;
}

.dice__roll {
  opacity: 0.5;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(200, 200, 200);
  margin: 0 2px;
}

.dice__roll.disabled {
  background-color: rgb(200, 200, 200);
  color: rgb(114, 114, 114);
}

.dice__roll.high {
  font-weight: bold;
  color: rgb(20, 155, 15);
}

.dice__roll.low {
  font-weight: bold;
  color: rgb(155, 15, 15);
}

.dice__modifier {
  opacity: 0.5;
}

.dice__history-line-total {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.dice__history-line {
  margin: 0 16px 16px;
  text-align: end;
  overflow-anchor: none;
  display: flex;
  font-size: var(--font-size-s);
  justify-content: space-between;
}

.dice__history-line-command {
  color: gray;
}
