.encounters {
  font-family: fantasy;
}

.encounterDifficulty {
  text-decoration: none;
  color: white;
}

.encounterDifficultyList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.encounterDifficultyItem {
  padding: 16px 32px;
  background-color: #252937;
  font-size: 22px;
  border: 1px groove white;
  border-radius: 10px;
}

.encounterDifficultyItem:hover {
  background-color: #3d414f;
}

.encounterContainer {
  display: flex;
  flex-direction: column;
}

.environmentButton {
  background-color: #252937;
  color: white;
  border: 1px solid white;
  padding: 8px 16px 4px;
  border-radius: 10px;
  font-family: fantasy;
  cursor: pointer;
}

.environmentButton:hover {
  background-color: #3d414f;
}

.data {
  color: #0000d4;
  font-size: 18px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 1;
  position: relative;
}

.submit {
  margin: -28px 90px 14px -30px;
  font-family: fantasy;
  border-radius: 5px;
  cursor: pointer;
}

.encounterButtons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 16px auto;
}

.encounterButton {
  background-color: #252937;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-family: fantasy;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.encounterButton:hover {
  background-color: #3d414f;
}

.death {
  font-size: 20px;
  color: #d94243;
}

.deathIcon {
  font-size: 40px;
  vertical-align: sub;
}

.damage {
  display: flex;
  justify-content: space-evenly;
}

.damageInput {
  width: 24px;
}

.monstersList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.monstersItem {
}

.dead {
  color: #d84343;
  text-decoration: line-through;
}

.badlyHurt {
  color: #d84343;
}

.hurt {
  color: #daa645;
}

.alive {
  color: white;
}

.monsterImage {
  width: 100%;
}
