.filters__container {
  display: flex;
  flex-direction: row;
  --header-padding-top: 8px;
  --header-height: 62px;
  --header-padding-bottom: 16px;
  --header-border-height: 1px;
  --card-height: 42.5px;
}

.filters__sidebar {
  flex-basis: 33%;
  flex-shrink: 0;
}

.filters__sidebar--float {
  position: absolute;
  z-index: 1;
  width: 16%;
}

.filters__sidebar--horizontal {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.filters__sidebarContent {
  position: sticky;
  top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
  flex-basis: 30%;
  margin: 8px 0 0 0;
}

.filters__sidebarSection {
  background-color: #232d40;
  padding: 16px;
  width: calc(100% - 32px);
}

.filters__filter {
  padding: 0;
  margin: 0 0 16px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 16px;
}

.filters__filterVertical {
  padding: 0;
  margin: 0 0 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  column-gap: 16px;
}

.filters__filterVertical--no-margin {
  margin: 0;
}

.filters__filterLabel {
  display: flex;
  text-align: center;
  margin: 0 0 8px 0;
}

.filters__filterLabelInline {
  display: inline-block;
  text-align: start;
  flex-basis: 70px;
}

.filters__filterOptionsTwoColumns {
  column-count: 2;
}

.filters__filterTitle {
  color: var(--color-x-pale);
}

.filters__filterOptions {
  position: relative;
  width: 100%;
}

.filters__filterOption {
  display: flex;
  align-items: start;
  flex-direction: row;
  text-align: left;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.filters__filterOption:hover {
  color: var(--color-x-pale);
}

.filters__filterOption--secondary {
  margin: 0 0 0 16px;
  font-size: var(--font-size-s);
  transition: height .2s ease-out;
  overflow: hidden;
  display: block;
  height: 22px;
}

.filters__filterOption--hidden {
  height: 0;
}

.filters__filterOptionWithHandler {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
}

.filters__subfilterHandler {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 8px);
  height: 100%;
  opacity: 0.5;
  text-align: right;
  padding: 0 8px 0 0;
  cursor: pointer;
  font-size: var(--font-size-xxxl);
  display: flex;
  justify-content: end;
  align-items: center;
}

.filters__subfilterHandler:hover {
  background-color: var(--color-pale);
}

.filters__subfilterHandleChar {
  margin: -18px 8px 0 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.filters__filterItem {
  flex-basis: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.filters__filterName {
  flex-basis: 50%;
}

.filters__filterInput {
  width: 50%;
}

.filters__filterSelect {
  width: 70%;
}

.filters__results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filters__submit {
  position: absolute;
  right: 64px;
  top: 8px;
}
