.menus__main-option {
  color: rgb(255 255 255 / 50%);
  text-decoration: none;
  min-height: 21.5vh;
  margin: 32px 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menus__option-label {
  color: rgb(255 255 255 / 50%);
  text-decoration: none;
  font-size: var(--font-size-huge);
  line-height: 1;
  padding: 8px 16px;
  background-color: rgb(128 128 128 / 0%);
  backdrop-filter: blur(10px);
}

.menus__back-button {
  color: var(--color-x-pale);
  text-decoration: none;
  display: flex;
  background: none;
  border: none;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  border-radius: 5px;
  padding: 4px 4px 2px;
}

.menus__back-button:hover {
  cursor: pointer;
  background-color: var(--color-pale);
  color: white;
}
