.encounter__wrapper {
  width: 100%;
  padding: 0px 32px 16px;
}

.encounter {
  display: flex;
  flex-direction: row;
  --header-padding-top: 16px;
  --header-height: 170px;
  --header-padding-bottom: 16px;
  --header-border-height: 1px;
  --card-height: 40px;
}

.encounter__header-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.encounter__header-input-title {
  display: block;
  text-align: start;
}

.encounter__group {
  text-align: start;
}

.encounter__sidebar {
  flex-basis: 33%;
  flex-shrink: 0;
}

.encounter__name {
  margin: 0 0 12px !important;
}

.encounter__sidebar-content {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
  flex-basis: 30%;
  margin: 8px 0 0 0;
}

.encounter__sidebar-section {
  background-color: #232d40;
  padding: 16px;
  width: calc(100% - 32px);
}

.encounter__filter {
  padding: 0;
  margin: 0 0 16px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 16px;
}

.encounter__filter--columns {
  column-count: 2;
  display: block;
}

.encounter__filter-vertical {
  padding: 0;
  margin: 0 0 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  column-gap: 16px;
}

.encounter__filter-label {
  display: block;
  text-align: center;
  margin: 0 0 8px 0;
}

.encounter__filter-label-inline {
  display: inline-block;
  text-align: start;
  flex-basis: 70px;
}

.encounter__filter-options {
  display: flex;
  justify-content: start;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}

.encounter__filter-options--no-wrap {
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.encounter__filter-button {
  padding: 4px 8px;
}

.encounter__input-number {
  width: 36px;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  color: #fff;
  background-color: var(--color-base);
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 2px 8px 4px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.encounter__input-number::before {
  content: 'lvl';
}

.encounter__filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.encounter__filter-item {
  flex-basis: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.encounter__filter-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.encounter__filter-name {
  flex-basis: 50%;
}

.encounter__filter-input {
  width: 50%;
}

.encounter__filter-select {
  width: 70%;
}

.encounter__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.encounter__cr-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.encounter__cr-header {
  width: 100%;
  text-align: left;
  position: sticky;
  top: calc(
    var(--header-padding-top) + var(--header-height) +
      var(--header-padding-bottom) + var(--header-border-height)
  );
  background-color: #13151c;
  padding: 8px 0 8px 0;
  margin: 0 0 0 0;
}

.encounter__cr-header-down {
  top: calc(
    var(--header-padding-top) + var(--header-height) +
      var(--header-padding-bottom) + var(--header-border-height) +
      var(--card-height)
  );
}

.encounter__cr-group:first-child .encounter__cr-header {
  margin: 0;
}

.encounter__cr-title {
  border-bottom: 1px solid white;
  width: 100%;
  display: inline-block;
}

.encounter__cr-column-headers {
  position: absolute;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  top: 16px;
  width: 100%;
}

.encounter__cr-xp-cr {
  width: 50%;
  text-align: end;
  font-size: var(--font-size-xs);
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
  margin: 0 8px 0 0;
}

.encounter__cr-monsters {
  list-style: circle;
  column-count: 2;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0 0 0 25px;
}

.encounter__monster-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encounter__monster-name {
  font-size: var(--font-size-l);
  font-weight: bold;
}

.encounter__monster-stats {
  margin: 0 32px 0 0;
  font-size: var(--font-size-xs);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
}

.encounter__monster-button {
  width: 100%;
  cursor: pointer;
  text-align: left;
  margin: 0 32px 0 0;
}

.encounter__monster-button[data-suitable='false'] {
  color: var(--color-red);
}

.encounter__monster-button:hover {
  background-color: #232d40;
}

.encounter__selected-monsters {
  position: sticky;
  top: 0;
  background-color: #13151c;
  padding: var(--header-padding-top) 16px var(--header-padding-bottom);
  margin: 0;
  z-index: 1;
  border-bottom: var(--header-border-height) solid white;
}

.encounter__header {
  height: var(--header-height);
}

.encounter__selected-monsters-title {
  margin: 0 0 16px 16px;
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  text-transform: uppercase;
  flex-grow: 1;
}

.encounter__title-name {
  flex-grow: 1;
  margin: 0 0 0 32px;
}

.encounter__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px 0;
}

.encounter__metric-fit {
  color: #2b8c47;
}

.encounter__metric-warning {
  color: #d84343;
}

.encounter__monsters {
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 0;
  padding: 0 0 16px 16px;
}

.encounter__selected-monsters-list {
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 0;
  padding: 0;
}

.encounter__add-nick {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2;
  font-weight: bolder;
  background-color: var(--color-light);
  cursor: pointer;
}

.encounter__add-nick:hover {
  background-color: var(--color-x-light);
}

.encounter__mob-card {
  position: relative;
}

.encounter__submit {
  position: absolute;
  right: 64px;
  top: 0;
}
