.characterList {
  font-family: fantasy;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  padding: 0 0 0 0;
  width: 80%;
  margin: 32px auto 32px auto;
}

.partyLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  padding: 16px;
  width: 100%;
  background-color: #252937;
  align-items: stretch;
}

.partyLinkList {
  flex-direction: row;
}

.partyLink:hover {
  background-color: #3d414f;
}

.partyLink[data-selected='true'] {
  background-color: #3d414f;
}

.partySessionTitle {
  min-height: 37px;
  margin: 0;
  border-bottom: 1px solid white;
}

.characterCheck {
}

.character {
  display: flex;
  column-gap: 16px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
}

.selectCharacter {
  display: flex;
  column-gap: 16px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: #252937;
  padding: 8px 8px 8px 16px;
}

.character:hover {
  background-color: #3d414f;
}

.characterName {
  font-size: 20px;
  color: white;
  text-decoration: none;
  flex-grow: 2;
  flex-basis: 25%;
  text-align: start;
  padding: 0 0 0 32px;
}

.partyData {
  color: white;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 20%;
  text-align: start;
}

.partySection {
  margin: 32px auto;
}

.partySectionSingleItem {
  max-width: 50%;
}

.partyMembersList {
}

.partyList {
  font-family: fantasy;
  font-size: 20px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.party {
  flex-basis: 20%;
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  border: 1px groove white;
}

.partyMembers {
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: square;
}

.partyMember {
  width: 100%;
}

.previousSessions {
  flex-direction: row-reverse !important;
  flex-wrap: wrap-reverse;
}

.sessionSection {
}

.sessionSectionTitle {
  margin: 0 0 8px 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  color: white;
  white-space: nowrap;
}

.xpItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 16px;
}

.sessionItemText {
  flex-basis: 85%;
}

.sessionItemXp {
  font-size: 14px;
  flex-basis: 10%;
  min-width: 60px;
  flex-grow: 1;
  text-align: right;
  position: relative;
}

.sessionItemXpInput::after {
  content: 'xp';
  font-size: 14px;
  position: absolute;
  right: -4px;
  top: 0;
}

.sessionSectionItems {
  padding: 0 0 0 20px;
  text-align: left;
  list-style: square;
  width: 90%;
}

.event {
}

.newSessionEvent {
  width: 90%;
  height: 16px;
  font-family: fantasy;
  font-size: 16px;
  vertical-align: middle;
  color: white;
  background-color: var(--color-base);
}

.newSessionEventXp {
  border: 1px solid gray;
  text-align: right;
  font-size: 14px;
  padding-right: 20px;
  width: calc(100% - 18px);
}

.paleColor {
  color: var(--color-x-pale);
}
