.party {
  flex-basis: 20%;
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  border: 1px groove white;
}

.party__character-list {
  font-family: var(--font-family);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  padding: 0 0 0 0;
  width: 80%;
  margin: 32px auto 32px auto;
}

.party__pc-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  padding: 16px;
  width: 100%;
  background-color: var(--color-base);
  align-items: stretch;
}

.party__pc-link:hover {
  background-color: var(--color-light);
}

.party__party-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  padding: 16px;
  width: 100%;
  background-color: #252937;
  align-items: stretch;
}

.party__party-link:hover {
  background-color: #3d414f;
}

.party__party-link[data-selected='true'] {
  background-color: #3d414f;
}

.party__party-link-list {
  flex-direction: row;
}

.party__party-session-title {
  min-height: 37px;
  margin: 0;
  border-bottom: 1px solid white;
}

.party__character {
  display: flex;
  column-gap: 16px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
}

.party__character:hover {
  background-color: #3d414f;
}

.party__select-character {
  display: flex;
  column-gap: 16px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: #252937;
  padding: 8px 8px 8px 16px;
}

.party__character-name {
  text-transform: capitalize;
  font-size: var(--font-size-xl);
  color: white;
  text-decoration: none;
  flex-grow: 2;
  flex-basis: 25%;
  text-align: start;
  padding: 0 0 0 32px;
}

.party__party-data {
  color: white;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 20%;
  text-align: start;
}

.party__party-section {
  margin: 32px auto;
}

.party__party-section-single-item {
  max-width: 50%;
}

.party__party-list {
  font-family: var(--font-family);
  font-size: var(--font-size-xl);
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.party__party-members {
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: square;
}

.party__party-member {
  width: 100%;
}

.party__previous-sessions {
  flex-direction: row-reverse !important;
  flex-wrap: wrap-reverse;
}

.party__session-section-title {
  margin: 0 0 8px 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  color: white;
  white-space: nowrap;
}

.party__xp-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 16px;
}

.party__session-item-text {
  flex-basis: 85%;
}

.party__session-item-xp {
  font-size: var(--font-size-s);
  flex-basis: 10%;
  min-width: 60px;
  flex-grow: 1;
  text-align: right;
  position: relative;
}

.party__session-item-xp-input::after {
  content: 'xp';
  font-size: var(--font-size-s);
  position: absolute;
  right: -4px;
  top: 0;
}

.party__session-section-items {
  padding: 0 0 0 20px;
  text-align: left;
  list-style: square;
  width: 90%;
}

.party__new-session-event {
  width: 90%;
  height: 16px;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  vertical-align: middle;
  color: white;
  background-color: var(--color-base);
}

.party__new-session-event-xp {
  border: 1px solid gray;
  text-align: right;
  font-size: var(--font-size-s);
  padding-right: 20px;
  width: calc(100% - 18px);
}

.party__pale-color {
  color: var(--color-x-pale);
}

.party__delete {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0px 8px 2px;
  border-radius: 5px;
  line-height: 1;
  font-size: var(--font-size-xxxl);
  color: white;
}

.party__delete:hover {
  background-color: var(--color-pale);
}

.party__delete-confirm {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  background: none;
}

.party__delete-confirm--yes {
  color: var(--color-x-red);
}

.party__delete-confirm--no {
  color: var(--color-x-green);
}

.party__delete-confirm--yes:hover {
  background-color: var(--color-x-red);
  color: var(--color-base);
}

.party__delete-confirm--no:hover {
  background-color: var(--color-x-green);
  color: var(--color-base);
}
