.container {
  width: 80vw;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

.content {
}

.verticalSections {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  float: left;
  width: 50%;
  margin: 0 32px 32px 0;
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: 25% 25%;
}

.info {
  text-align: justify;
}

.title {
  margin: 0;
}

.titleInput {
  color: var(--color-x-pale);
  text-transform: uppercase;
  font-size: 20px;
  background: transparent;
  border: none;
  font-family: fantasy;
  margin: 0 0 0 16px;
  padding: 0;
}

.titleCapital {
  font-size: 24px;
}

.sectionDivider {
  border-color: var(--color-x-pale);
}

.subtitle {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.trait {
  display: flex;
}

.traitTitle {
  color: var(--color-x-pale);
}

.numberInput1 {
  width: 25px;
}

.numberInput3 {
  width: 40px;
}

.traitInput {
  background: transparent;
  border: none;
  font-family: fantasy;
  color: white;
  font-size: 16px;
}

.traitList {
  text-align: start;
}

.traitColumns {
  margin: 0;
  column-count: 2;
  text-align: start;
  text-wrap: nowrap;
}

.traitItem {
  margin: 0 8px 0 0;
}

.village {
  background: linear-gradient(
      rgba(200, 200, 200, 0.2),
      rgba(200, 200, 200, 0.2)
    ),
    url(http://localhost:3000/images/village.png);
  background-position: center;
  background-size: cover;
}

.village:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/village.png);
  background-position: center;
  background-size: cover;
}

.town {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/town.jpg);
  background-position: center;
  background-size: cover;
}

.town:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.8),
      rgba(200, 200, 200, 0.8)
    ),
    url(http://localhost:3000/images/town.jpg);
  background-position: center;
  background-size: cover;
}

.city {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/city.png);
  background-position: center;
  background-size: cover;
}

.city:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.8),
      rgba(200, 200, 200, 0.8)
    ),
    url(http://localhost:3000/images/city.png);
  background-position: center;
  background-size: cover;
}
