.container {
  width: 80%;
  margin: auto;
}

.village {
  background: linear-gradient(
      rgba(200, 200, 200, 0.2),
      rgba(200, 200, 200, 0.2)
    ),
    url(http://localhost:3000/images/village.png);
  background-position: center;
  background-size: cover;
}

.village:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/village.png);
  background-position: center;
  background-size: cover;
}

.town {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/town.jpg);
  background-position: center;
  background-size: cover;
}

.town:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.8),
      rgba(200, 200, 200, 0.8)
    ),
    url(http://localhost:3000/images/town.jpg);
  background-position: center;
  background-size: cover;
}

.city {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/city.png);
  background-position: center;
  background-size: cover;
}

.city:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.8),
      rgba(200, 200, 200, 0.8)
    ),
    url(http://localhost:3000/images/city.png);
  background-position: center;
  background-size: cover;
}
