.places__container {
  width: 85vw;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

.places__buttons {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  margin: 0 0 8px 0;
}

.places__save {
  color: var(--color-x-pale);
  text-decoration: none;
  display: flex;
  background: none;
  border: none;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  border-radius: 5px;
  padding: 4px 4px 2px;
}

.places__save:hover {
  cursor: pointer;
  background-color: var(--color-pale);
  color: white;
}

.places__horizontal-sections {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.places__horizontal-sections--with-sidebar {
  margin: 0 0 0 180px;
}

.places__vertical-sections {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.places__image-container {
  position: relative;
  float: left;
  flex-basis: 50%;
  flex-grow: 1;
  margin: 0 0 32px 0;
}

.places__image-container-float {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.places__image-overlay {
  opacity: 0;
  background-color: var(--color-pale);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-gargantuan);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.places__image-overlay:hover {
  opacity: 0.5;
}

.places__image {
  object-fit: contain;
}

.places__image--float {
  animation: verticalMovement 120s ease-in-out 0s infinite;
}

@keyframes verticalMovement {
  0% {
    transform: scale(1) translate(0, 0);
  }
  20% {
    transform: scale(1) translate(0, 0);
  }
  35% {
    transform: scale(1.3) translate(0%, -15%);
  }
  50% {
    transform: scale(1.5) translate(0%, 15%);
  }
  80% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.places__info {
  text-align: justify;
  width: 50%;
}

.places__title {
  margin: 0;
  color: var(--color-x-pale);
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-family: var(--font-family);
  padding: 0 0 0 18px;
}

.places__title--float {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.places__title-input {
  color: var(--color-x-pale);
  font-size: var(--font-size-xl);
  background: transparent;
  border: none;
  font-family: var(--font-family);
  margin: 8px 0px 5px 8px;
  padding: 0;
}

.places__title-input--empty {
  border: 1px dashed var(--color-pale);
}

.places__title-capital {
  font-size: var(--font-size-big);
}

.places__title-reroll {
  display: none;
  margin: 0 0 0 8px;
  cursor: pointer;
}

.places__title-reroll:hover {
  color: white;
}

.places__title:hover .places__title-reroll {
  display: inline;
}

.places__section-divider {
  border-color: var(--color-x-pale);
}

.places__subtitle {
  font-size: var(--font-size-s);
  display: flex;
  justify-content: space-between;
}

.places__trait {
  display: flex;
  overflow: hidden;
}

.places__trait-header {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.places__trait-modifiers {
}

.places__trait-button {
  background-color: var(--color-light);
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  font-size: var(--font-size-l);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 8px 0 0;
  padding: 0 0 0 0;
  line-height: 1;
  cursor: pointer;
}

.places__trait-button:hover {
  background-color: var(--color-pale);
}

.places__trait-multiple {
  display: flex;
  justify-content: space-between;
}

.places__shared-trait-greedy {
  flex-shrink: 0;
}

.places__trait-title {
  color: var(--color-x-pale);
}

.places__notes {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 64px;
}

.places__notes-title {
  margin: 0;
  color: var(--color-x-pale);
  text-transform: uppercase;
}

.places__notes-text {
  width: 80%;
  min-height: 100px;
  border: none;
  border-top: 1px solid var(--color-x-pale);
  background: none;
  color: white;
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  padding: 16px 0 0 16px;
  scrollbar-color: white;
}

.places__trait-input {
  background: transparent;
  border: none;
  font-family: var(--font-family);
  color: white;
  font-size: var(--font-size-m);
}

.places__trait-input--number-1 {
  width: 25px;
}

.places__trait-input--number-2 {
  width: 36px;
}

.places__trait-input--number-3 {
  width: 40px;
}

.places__trait-input--number-4 {
  width: 60px;
}

.places__trait-select {
  background: transparent;
  border: none;
  font-family: var(--font-family);
  color: white;
  font-size: var(--font-size-s);
}

.places__commerce-list {
  display: flex;
  flex-direction: column;
}

/* .traitSelect:focus * {
  font-size: var(--font-size-xs);
} */

.places__trait-list {
  text-align: start;
}

.places__trait-columns {
  margin: 0;
  text-align: start;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.places__trait-item {
  margin: 0 8px 0 0;
}

.places__volume-controls {
  opacity: 0;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.places__volume-controls:hover {
  opacity: 1;
}

.places__volume-slider {
  appearance: slider-vertical;
  width: 20px;
  cursor: pointer;
}

.village {
  background: linear-gradient(
      rgba(200, 200, 200, 0.2),
      rgba(200, 200, 200, 0.2)
    ),
    url(http://localhost:3000/images/village.png);
  background-position: center;
  background-size: cover;
}

.village:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/village.png);
  background-position: center;
  background-size: cover;
}

.town {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/town.jpg);
  background-position: center;
  background-size: cover;
}

.town:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.8),
      rgba(200, 200, 200, 0.8)
    ),
    url(http://localhost:3000/images/town.jpg);
  background-position: center;
  background-size: cover;
}

.city {
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url(http://localhost:3000/images/city.png);
  background-position: center;
  background-size: cover;
}

.city:hover {
  background: linear-gradient(
      rgba(200, 200, 200, 0.8),
      rgba(200, 200, 200, 0.8)
    ),
    url(http://localhost:3000/images/city.png);
  background-position: center;
  background-size: cover;
}
