.encounters {
  font-family: var(--font-family);
}

.encounters__difficulty-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.encounters__difficulty-item {
  font-family: var(--font-family);
  padding: 16px 32px;
  background-color: #252937;
  font-size: var(--font-size-xxl);
  border: 1px groove white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.encounters__difficulty-item:hover {
  background-color: #3d414f;
}

.encounters__difficulty-item[data-selected='true'] {
  background-color: #3d414f;
}

.encounters__difficulty {
  color: white;
  text-decoration: none;
}

.encounters__container {
  display: flex;
  flex-direction: column;
}

.encounters__container-full-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(http://localhost:3000/images/forest01.png) 0% 70% no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0 0 0 0;
}

.encounters__environment-button {
  background-color: #252937;
  color: white;
  border: 1px solid white;
  padding: 8px 16px 4px;
  border-radius: 10px;
  font-family: var(--font-family);
  cursor: pointer;
}

.encounters__environment-button:hover {
  background-color: #3d414f;
}

.encounters__environment-button[data-suitable='false'] {
  background-color: #875757;
}

.encounters__environment-button[data-suitable='false']:hover {
  background-color: #9f7373;
}

.encounters__environment-button[data-selected='true'] {
  background-color: #3d414f;
}

.encounters__buttons-row {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 16px auto;
}

.encounters__monster-list {
  flex-wrap: wrap;
}

.encounters__character-name {
  margin-top: 0;
}

.encounters__bar-title {
  display: block;
  margin-bottom: 8px;
}

.encounters__death {
  font-size: var(--font-size-xl);
  color: #d94243;
}

.encounters__death-icon {
  font-size: var(--font-size-huge);
  vertical-align: sub;
}

.encounters__button-container {
  display: flex;
  justify-content: space-evenly;
}

.encounters__damage-input {
  width: 24px;
}

.encounters__monsters-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  column-gap: 16px;
  margin: 0;
  padding: 0 32px;
  flex-wrap: wrap;
}

.encounters__monsters-item {
  display: block;
  flex-basis: 16%;
  flex-shrink: 1.05;
  min-height: 350px;
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 30%;
}

.encounters__dead {
  color: var(--color-red);
  text-decoration: line-through;
}

.encounters__dead-image {
  mix-blend-mode: soft-light;
}

.encounters__badly-hurt {
  color: var(--color-red);
}

.encounters__hurt {
  color: var(--color-orange);
}

.encounters__alive {
  color: white;
}

.encounters__monster-image {
  width: 100%;
  margin: 16px 0 0 0;
}

.encounters__title {
  margin: 48px auto 16px;
}

.encounters__bar {
  margin: 8px 0;
}
