.encounters {
  font-family: fantasy;
}

.encounterDifficultyList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.encounterDifficultyItem {
  font-family: fantasy;
  padding: 16px 32px;
  background-color: #252937;
  font-size: 22px;
  border: 1px groove white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.encounterDifficultyItem:hover {
  background-color: #3d414f;
}

.encounterDifficultyItem[data-selected='true'] {
  background-color: #3d414f;
}

.encounterDifficulty {
  color: white;
  text-decoration: none;
}

.encounterContainer {
  display: flex;
  flex-direction: column;
}

.encounterContainerFullScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(http://localhost:3000/images/forest01.png) 0% 70% no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0 0 0 0;
}

.environmentButton {
  background-color: #252937;
  color: white;
  border: 1px solid white;
  padding: 8px 16px 4px;
  border-radius: 10px;
  font-family: fantasy;
  cursor: pointer;
}

.environmentButton:hover {
  background-color: #3d414f;
}

.environmentButton[data-suitable='false'] {
  background-color: #875757;
}

.environmentButton[data-suitable='false']:hover {
  background-color: #9f7373;
}

.environmentButton[data-selected='true'] {
  background-color: #3d414f;
}

.buttonsRow {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 16px auto;
}

.monsterList {
  flex-wrap: wrap;
}

.death {
  font-size: 20px;
  color: #d94243;
}

.deathIcon {
  font-size: 40px;
  vertical-align: sub;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.damageInput {
  width: 24px;
}

.monstersList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  column-gap: 16px;
  margin: 0;
  padding: 0 32px;
  flex-wrap: wrap;
}

.monstersItem {
  display: block;
  flex-basis: 16%;
  flex-shrink: 1.05;
  min-height: 350px;
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 30%;
}

.dead {
  color: var(--color-red);
  text-decoration: line-through;
}

.deadImage {
  mix-blend-mode: soft-light;
}

.badlyHurt {
  color: var(--color-red);
}

.hurt {
  color: var(--color-orange);
}

.alive {
  color: white;
}

.monsterImage {
  width: 100%;
  margin: 16px 0 0 0;
}

.encounterSidebar {
}

.encounterBody {
}

.title {
  margin: 48px auto 16px;
}
