.summary {
  width: 100%;
  position: absolute;
  top: 4px;
  bottom: 4px;
  font-family: fantasy;
  display: grid;
  grid-template-columns: 8.5% 3.5% 5% 2.5% 19% 4.5% 2% 2% 5.5% 4% 5.5% 1% 5.5% 10% 13% 1% 2%;
  grid-template-rows: 7% 1% 1% 1% 1% 1.2% 5% 1% 1% 1% 2% 1% 1% 1.5% 1% 1% 0.7% 0.9% 0.8% 0.9% 0.8% 0.7% 0.9% 0.9% 0.8% 0.8% 2% 2.6% 0.4% 0.9% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.9% 0.7% 0.9% 1% 3% 1% 1% 1% 1.2% 2% 1.2% 2% 1.2% 2% 1.2% 2% 3.9% 5%;
  /* prettier-ignore */
  grid-template-areas:
    /*******  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17 */
    /* 01 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 01 */
    /* 02 */ '.   .   .   .   .   .   .   pCl pCl pCl pCl .   .   .   pNa .   .  ' /* 02 */
    /* 03 */ '.   .   .   .   .   .   .   pCl pCl pCl pCl .   bgd bgd pNa .   .  ' /* 03 */
    /* 04 */ '.   .   nam nam nam .   .   .   .   .   .   .   .   .   .   .   .  ' /* 04 */
    /* 05 */ '.   .   nam nam nam .   .   rac rac rac rac .   .   .   exp .   .  ' /* 05 */
    /* 06 */ '.   .   .   .   .   .   .   rac rac rac rac .   .   .   exp .   .  ' /* 06 */
    /* 07 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 07 */
    /* 08 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   mit .   .  ' /* 08 */
    /* 09 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 09 */
    /* 10 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 10 */
    /* 11 */ '.   str .   .   .   pAC .   .   .   .   spe .   .   ity ity ity .  ' /* 11 */
    /* 12 */ '.   str .   pro .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 12 */
    /* 13 */ '.   .   .   pro .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 13 */
    /* 14 */ '.   stM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 14 */
    /* 15 */ '.   .   .   .   .   .   .   .   mhp mhp mhp .   .   .   .   .   .  ' /* 15 */
    /* 16 */ '.   .   .   stP stS .   .   .   .   .   .   .   .   .   .   .   .  ' /* 16 */
    /* 17 */ '.   .   .   .   .   hps hps hps hps hps hps .   .   ide ide ide .  ' /* 17 */
    /* 18 */ '.   dex .   deP deS hps hps hps hps hps hps .   .   ide ide ide .  ' /* 18 */
    /* 19 */ '.   dex .   .   .   hps hps hps hps hps hps .   .   ide ide ide .  ' /* 19 */
    /* 20 */ '.   dex .   coP coS hps hps hps hps hps hps .   .   ide ide ide .  ' /* 20 */
    /* 21 */ '.   dex .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 21 */
    /* 22 */ '.   .   .   inP inS .   .   .   .   .   .   .   .   .   .   .   .  ' /* 22 */
    /* 23 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 23 */
    /* 24 */ '.   deM .   wiP wiS .   .   .   .   .   .   .   .   bnd bnd bnd .  ' /* 24 */
    /* 25 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   bnd bnd bnd .  ' /* 25 */
    /* 26 */ '.   .   .   chP chS .   .   .   .   .   .   .   .   bnd bnd bnd .  ' /* 26 */
    /* 27 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   bnd bnd bnd .  ' /* 27 */
    /* 28 */ '.   con .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 28 */
    /* 29 */ '.   con .   .   .   hiD hiD hiD .   .   .   .   .   flw flw flw .  ' /* 29 */
    /* 30 */ '.   .   .   sP1 sS1 hiD hiD hiD .   .   .   .   .   flw flw flw .  ' /* 30 */
    /* 31 */ '.   coM .   .   .   exH exH exH .   .   .   .   .   flw flw flw .  ' /* 31 */
    /* 32 */ '.   coM .   sP2 sS2 exH exH exH .   .   .   .   .   flw flw flw .  ' /* 32 */
    /* 33 */ '.   .   .   .   .   exH exH exH .   .   .   .   .   flw flw flw .  ' /* 33 */
    /* 34 */ '.   .   .   sP3 sS3 .   .   .   .   .   .   .   .   .   .   .   .  ' /* 34 */
    /* 35 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 35 */
    /* 36 */ '.   .   .   sP4 sS4 .   .   .   .   .   .   .   .   .   .   .   .  ' /* 36 */
    /* 37 */ '.   int .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 37 */
    /* 38 */ '.   int .   sP5 sS5 .   .   .   .   .   .   .   .   .   .   .   .  ' /* 38 */
    /* 39 */ '.   int .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 39 */
    /* 40 */ '.   int .   sP6 sS6 aN0 aN0 aN0 aB0 aT0 aT0 aT0 .   FnT FnT FnT FnT' /* 40 */
    /* 41 */ '.   .   .   .   .   aN0 aN0 aN0 aB0 aT0 aT0 aT0 .   FnT FnT FnT FnT' /* 41 */
    /* 42 */ '.   inM .   sP7 sS7 .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 42 */
    /* 43 */ '.   .   .   .   .   aN1 aN1 aN1 aB1 aT1 aT1 aT1 .   FnT FnT FnT FnT' /* 43 */
    /* 44 */ '.   .   .   sP8 sS8 aN1 aN1 aN1 aB1 aT1 aT1 aT1 .   FnT FnT FnT FnT' /* 44 */
    /* 45 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 45 */
    /* 46 */ '.   .   .   sP9 sS9 aN2 aN2 aN2 aB2 aT2 aT2 aT2 .   FnT FnT FnT FnT' /* 46 */
    /* 47 */ '.   .   .   .   .   aN2 aN2 aN2 aB2 aT2 aT2 aT2 .   FnT FnT FnT FnT' /* 47 */
    /* 48 */ '.   wis .   sP0 sS0 .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 48 */
    /* 49 */ '.   wis .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 49 */
    /* 50 */ '.   wis .   sPA sSA sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 50 */
    /* 51 */ '.   .   .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 51 */
    /* 52 */ '.   wiM .   sPB sSB sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 52 */
    /* 53 */ '.   wiM .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 53 */
    /* 54 */ '.   .   .   sPC sSC sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 54 */
    /* 55 */ '.   .   .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 55 */
    /* 56 */ '.   .   .   sPD sSD sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 56 */
    /* 57 */ '.   .   .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 57 */
    /* 58 */ '.   cha .   sPE sSE sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 58 */
    /* 59 */ '.   cha .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 59 */
    /* 60 */ '.   cha .   sPF sSF sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 60 */
    /* 61 */ '.   cha .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 61 */
    /* 62 */ '.   .   .   sPG sSG sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 62 */
    /* 63 */ '.   chM .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 63 */
    /* 64 */ '.   chM .   sPH sSH sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 64 */
    /* 65 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 65 */
    /* 66 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 66 */
    /* 67 */ 'per .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 67 */
    /* 68 */ '.   .   .   .   .   cpr .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 68 */
    /* 69 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 69 */
    /* 70 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 70 */
    /* 71 */ '.   CnL CnL CnL CnL slv .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 71 */
    /* 72 */ '.   CnL CnL CnL CnL .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 72 */
    /* 73 */ '.   CnL CnL CnL CnL .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 73 */
    /* 74 */ '.   CnL CnL CnL CnL .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 74 */
    /* 75 */ '.   CnL CnL CnL CnL gld .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 75 */
    /* 76 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 76 */
    /* 77 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 77 */
    /* 78 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 78 */
    /* 79 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  '; /* 79 */
  /*********  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17 */
}

.sheetBackground {
  width: 100%;
}

.annotation {
  font-size: 10px;
  position: absolute;
  top: -5px;
  left: 30px;
}

.data {
  color: #0000d4;
  font-size: 18px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 1;
  position: relative;
}

.submit {
  grid-area: mit;
  margin: -28px 90px 14px -30px;
  font-family: fantasy;
  border-radius: 5px;
  cursor: pointer;
}

.name {
  font-size: 28px;
  grid-area: nam;
}

.pClass {
  grid-area: pCl;
}

.background {
  grid-area: bgd;
}

.playerName {
  grid-area: pNa;
  resize: none;
  background-color: transparent;
  border: none;
  margin: 12px 0px 0px 0px;
  font-family: fantasy;
  hyphens: auto;
}

.race {
  grid-area: rac;
}

.exp {
  grid-area: exp;
  justify-content: flex-end;
}

.str {
  grid-area: str;
  justify-content: center;
  font-size: 32px;
}

.strMod {
  grid-area: stM;
  justify-content: center;
}

.dex {
  grid-area: dex;
  justify-content: center;
  line-height: 1;
  font-size: 32px;
}

.dexMod {
  grid-area: deM;
  justify-content: center;
  align-items: flex-start;
}

.con {
  grid-area: con;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.conMod {
  grid-area: coM;
  justify-content: center;
  align-items: center;
}

.int {
  grid-area: int;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 32px;
}

.intMod {
  grid-area: inM;
  justify-content: center;
  align-items: flex-start;
}

.wis {
  grid-area: wis;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.wisMod {
  grid-area: wiM;
  justify-content: center;
}

.cha {
  grid-area: cha;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.chaMod {
  grid-area: chM;
  justify-content: center;
  align-items: flex-start;
}

.proficiencyBonus {
  grid-area: pro;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.strProf {
  grid-area: stP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.strSaving {
  grid-area: stS;
  align-items: center;
}

.dexProf {
  grid-area: deP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.dexSaving {
  grid-area: deS;
  align-items: center;
}

.conProf {
  grid-area: coP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.conSaving {
  grid-area: coS;
  align-items: center;
}

.intProf {
  grid-area: inP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.intSaving {
  grid-area: inS;
  align-items: center;
}

.wisProf {
  grid-area: wiP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.wisSaving {
  grid-area: wiS;
  align-items: center;
}

.chaProf {
  grid-area: chP;
  transform: rotate(45deg);
  margin: 3px 0px 0px 4px;
  align-items: flex-start;
}

.chaSaving {
  grid-area: chS;
  align-items: center;
}

.armorClass {
  grid-area: pAC;
  justify-content: center;
  align-items: flex-end;
  font-size: 32px;
  line-height: 0.3;
}

.extraArmorClass {
  font-size: 14px;
  line-height: 2;
  margin-right: -10px;
}

.speed {
  grid-area: spe;
  justify-content: center;
  align-items: flex-end;
  font-size: 32px;
  line-height: 0.5;
}

.maxHitPoints {
  grid-area: mhp;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 8px;
  padding: 0 0 0 42px;
}

.hitPoints {
  grid-area: hps;
  justify-content: center;
  align-items: center;
  font-size: 44px;
}

.extraHitPoints {
  position: absolute;
  left: calc(50% + 22px);
  font-size: 44px;
  animation: extra_hit_points 5s cubic-bezier(0.005, 0.7, 0.25, 1);
}

@keyframes extra_hit_points {
  0% {
    margin-top: 32px;
    color: var(--color-blue-ink);
  }
  100% {
    margin-top: -32px;
    color: var(--color-green);
  }
}

.hitDice {
  grid-area: hiD;
  justify-content: flex-end;
}

.remainingHitDice {
  grid-area: exH;
  font-size: 24px;
  justify-content: center;
}

.attackName-0 {
  grid-area: aN0;
  font-size: 14px;
  justify-content: center;
  margin-left: -20px;
  width: 120%;
}

.attackBonus-0 {
  grid-area: aB0;
  justify-content: center;
  margin-right: -16px;
  line-height: 0.5;
}

.attackType-0 {
  grid-area: aT0;
  font-size: 14px;
  justify-content: center;
  width: 110%;
  margin-bottom: -8px;
}

.attackName-1 {
  grid-area: aN1;
  font-size: 14px;
  justify-content: center;
  margin-left: -20px;
  width: 120%;
}

.attackBonus-1 {
  grid-area: aB1;
  justify-content: center;
  margin-right: -16px;
  line-height: 0.5;
}

.attackType-1 {
  grid-area: aT1;
  font-size: 14px;
  justify-content: center;
  width: 110%;
  margin-bottom: -8px;
}

.attackName-2 {
  grid-area: aN2;
  font-size: 14px;
  justify-content: center;
  margin-left: -20px;
  width: 120%;
}

.attackBonus-2 {
  grid-area: aB2;
  justify-content: center;
  margin-right: -16px;
  line-height: 0.5;
}

.attackType-2 {
  grid-area: aT2;
  font-size: 14px;
  justify-content: center;
  width: 110%;
  margin-bottom: -8px;
}

.attackHandler {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 8px;
  line-height: 2.5;
}

.attackHandlerCharacter {
  color: #0000d44d;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  left: -2px;
  top: 0;
}

.selectAttack {
  font-size: 14px;
  font-family: fantasy;
  color: #0000d4;
  text-align: center;
  appearance: none;
  border: none;
  line-height: 2;
  padding: 0 0 0 4px;
  margin: 4px 0 0 0;
  cursor: pointer;
}

.selectAttack:hover {
  color: #7171d8;
}

.selectAttack:focus-visible {
  outline: none;
}

.superscript {
  position: absolute;
  right: 2px;
  top: 2px;
}

.specialAttacks {
  grid-area: sAt;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: decimal;
  padding-left: 12px;
  font-size: 14px;
  margin: 4px 0px 0px -20px;
  line-height: 1.5;
  width: 105%;
  hyphens: auto;
}

.specialAttack {
  text-align: left;
}

.acrobaticsProf {
  grid-area: sP1;
  transform: rotate(45deg);
  margin: 0px 0px -4px 3px;
  line-height: 0.6;
}

.acrobaticsSaving {
  grid-area: sS1;
}

.athleticsProf {
  grid-area: sP2;
  transform: rotate(45deg);
  margin: 0px 0px -3px 3px;
  line-height: 0.6;
}

.athleticsSaving {
  grid-area: sS2;
}

.arcanaProf {
  grid-area: sP3;
  transform: rotate(45deg);
  margin: 0px 0px -2px 3px;
  line-height: 0.6;
}

.arcanaSaving {
  grid-area: sS3;
}

.deceptionProf {
  grid-area: sP4;
  transform: rotate(45deg);
  margin: 0px 0px -2px 3px;
  line-height: 0.6;
}

.deceptionSaving {
  grid-area: sS4;
}

.historyProf {
  grid-area: sP5;
  transform: rotate(45deg);
  margin: 0px 0px -2px 3px;
  line-height: 0.6;
}

.historySaving {
  grid-area: sS5;
}

.performanceProf {
  grid-area: sP6;
  transform: rotate(45deg);
  margin: 0px 0px -2px 2px;
  line-height: 0.6;
}

.performanceSaving {
  grid-area: sS6;
}

.intimidationProf {
  grid-area: sP7;
  transform: rotate(45deg);
  margin: 0px 0px -6px 3px;
  line-height: 0.6;
}

.intimidationSaving {
  grid-area: sS7;
}

.investigationProf {
  grid-area: sP8;
  transform: rotate(45deg);
  margin: 0px 0px -4px 1px;
  line-height: 1;
}

.investigationSaving {
  grid-area: sS8;
}

.sleight-of-handProf {
  grid-area: sP9;
  transform: rotate(45deg);
  margin: 0px 0px -5px 0px;
  line-height: 1;
}

.sleight-of-handSaving {
  grid-area: sS9;
}

.medicineProf {
  grid-area: sP0;
  transform: rotate(45deg);
  margin: 0px 0px -4px 1px;
  line-height: 1;
}

.medicineSaving {
  grid-area: sS0;
}

.natureProf {
  grid-area: sPA;
  transform: rotate(45deg);
  margin: 0px 0px -3px 0px;
  line-height: 1;
}

.natureSaving {
  grid-area: sSA;
}

.perceptionProf {
  grid-area: sPB;
  transform: rotate(45deg);
  margin: 0px 0px -3px 0px;
  line-height: 1;
}

.perceptionSaving {
  grid-area: sSB;
}

.insightProf {
  grid-area: sPC;
  transform: rotate(45deg);
  margin: 0px 0px -6px 3px;
  line-height: 1;
}

.insightSaving {
  grid-area: sSC;
}

.persuasionProf {
  grid-area: sPD;
  transform: rotate(45deg);
  margin: 0px 0px -6px 3px;
  line-height: 1;
}

.persuasionSaving {
  grid-area: sSD;
}

.religionProf {
  grid-area: sPE;
  transform: rotate(45deg);
  margin: 0px 0px -3px 0px;
  line-height: 1;
}

.religionSaving {
  grid-area: sSE;
}

.stealthProf {
  grid-area: sPF;
  transform: rotate(45deg);
  margin: 0px 0px -2px 0px;
  line-height: 1;
}

.stealthSaving {
  grid-area: sSF;
}

.survivalProf {
  grid-area: sPG;
  transform: rotate(45deg);
  margin: 0px 0px -1px 0px;
  line-height: 1;
}

.survivalSaving {
  grid-area: sSG;
}

.animal-handlingProf {
  grid-area: sPH;
  transform: rotate(45deg);
  margin: 0px 0px -2px 0px;
  line-height: 1;
}

.animal-handlingSaving {
  grid-area: sSH;
}

.passivePerception {
  grid-area: per;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 28px;
  margin-right: -5px;
}

.equipment {
  grid-area: equ;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 14px;
  line-height: 1.54;
  hyphens: auto;
  width: 104%;
  margin: 2px 0px 0 -4px;
  padding: 0 0px 0 0px;
  list-style: none;
}

.copper {
  grid-area: cpr;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  margin: 0 10px 0 0;
}

.silver {
  grid-area: slv;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  margin: 0 10px 0 0;
}

.gold {
  grid-area: gld;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  margin: 0 10px 0 0;
}

.featsAndTraits {
  grid-area: FnT;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.5;
  padding: 6px 0 0 0;
  margin: 0;
  hyphens: auto;
}

.personality {
  grid-area: ity;
  resize: none;
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: fantasy;
  font-size: 14px;
  line-height: 1.73;
  hyphens: auto;
}

.ideals {
  grid-area: ide;
  resize: none;
  background-color: transparent;
  border: none;
  margin: -13px 0px 0px 0px;
  font-family: fantasy;
  font-size: 14px;
  line-height: 1.73;
  hyphens: auto;
}

.bonds {
  grid-area: bnd;
  resize: none;
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: fantasy;
  font-size: 14px;
  line-height: 1.73;
  hyphens: auto;
}

.flaws {
  grid-area: flw;
  resize: none;
  background-color: transparent;
  border: none;
  margin: -2px 0px -7px 0px;
  font-family: fantasy;
  font-size: 14px;
  line-height: 1.73;
  hyphens: auto;
}

.competencesAndLanguages {
  grid-area: CnL;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.35;
  padding: 0px 70px 0 0;
  margin: -6px 0 0 0;
}

/*  */

.traitLabel {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.traitTitle {
  text-decoration: underline;
}

.trait {
  font-weight: bolder;
  font-size: 16px;
}

.traitItem {
  font-weight: bolder;
  font-size: 16px;
  margin-left: 32px;
}

.pendingTrait {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  line-height: 0.8;
  animation: pending_trait 1s infinite;
  transition: margin ease-in;
}

@keyframes pending_trait {
  0% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
  33% {
    margin-top: -3px;
    transition: margin ease-in;
  }
  66% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
  70.25% {
    color: var(--color-green);
  }
  74.5% {
    margin-top: -3px;
    color: var(--color-orange);
    transition: margin ease-in;
  }
  78.75% {
    color: var(--color-green);
  }
  83% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
  87.25% {
    color: var(--color-green);
  }
  91.5% {
    margin-top: -1px;
    color: var(--color-orange);
    transition: margin ease-in;
  }
  95.75% {
    color: var(--color-green);
  }
  100% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
}
