.summary {
  width: 100%;
  position: absolute;
  top: 4px;
  bottom: 4px;
  font-family: fantasy;
  display: grid;
  grid-template-columns: 8.5% 3.5% 5% 2.5% 19% 4.5% 2% 2% 5.5% 4% 5.5% 1% 5.5% 10% 13% 1% 7%;
  grid-template-rows: 7% 1% 1% 1% 1% 1.2% 5% 1% 1% 1% 2% 1% 1% 1.5% 1% 1% 0.7% 0.9% 0.8% 0.9% 0.8% 0.7% 0.9% 0.9% 0.8% 0.8% 2% 2.6% 0.4% 0.9% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.9% 0.7% 0.9% 1% 3% 1% 1% 1% 1.2% 2% 1.2% 2% 1.2% 2% 1.2% 2% 4.5% 5%;
  /* prettier-ignore */
  grid-template-areas:
    /*******  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17 */
    /* 01 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 01 */
    /* 02 */ '.   .   .   .   .   .   .   pCl pCl pCl pCl .   .   .   pNa .   .' /* 02 */
    /* 03 */ '.   .   .   .   .   .   .   pCl pCl pCl pCl .   .   .   pNa .   .' /* 03 */
    /* 04 */ '.   .   nam nam nam .   .   .   .   .   .   .   .   .   .   .   .' /* 04 */
    /* 05 */ '.   .   nam nam nam .   .   rac rac rac rac .   .   .   exp .   .' /* 05 */
    /* 06 */ '.   .   .   .   .   .   .   rac rac rac rac .   .   .   exp .   .' /* 06 */
    /* 07 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 07 */
    /* 08 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 08 */
    /* 09 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 09 */
    /* 10 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 10 */
    /* 11 */ '.   stM .   .   .   .   .   .   .   .   spe .   .   .   .   .   .' /* 11 */
    /* 12 */ '.   stM .   pro .   .   .   .   .   .   .   .   .   .   .   .   .' /* 12 */
    /* 13 */ '.   .   .   pro .   .   .   .   .   .   .   .   .   .   .   .   .' /* 13 */
    /* 14 */ '.   str .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 14 */
    /* 15 */ '.   .   .   .   .   .   .   .   .   .   mhp .   .   .   .   .   .' /* 15 */
    /* 16 */ '.   .   .   stP stS .   .   .   .   .   .   .   .   .   .   .   .' /* 16 */
    /* 17 */ '.   .   .   .   .   hps hps hps hps hps hps .   .   .   .   .   .' /* 17 */
    /* 18 */ '.   deM .   deP deS hps hps hps hps hps hps .   .   .   .   .   .' /* 18 */
    /* 19 */ '.   deM .   .   .   hps hps hps hps hps hps .   .   .   .   .   .' /* 19 */
    /* 20 */ '.   deM .   coP coS hps hps hps hps hps hps .   .   .   .   .   .' /* 20 */
    /* 21 */ '.   deM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 21 */
    /* 22 */ '.   .   .   inP inS .   .   .   .   .   .   .   .   .   .   .   .' /* 22 */
    /* 23 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 23 */
    /* 24 */ '.   dex .   wiP wiS .   .   .   .   .   .   .   .   .   .   .   .' /* 24 */
    /* 25 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 25 */
    /* 26 */ '.   .   .   chP chS .   .   .   .   .   .   .   .   .   .   .   .' /* 26 */
    /* 27 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 27 */
    /* 28 */ '.   coM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 28 */
    /* 29 */ '.   coM .   .   .   .   hiD hiD .   .   .   .   .   .   .   .   .' /* 29 */
    /* 30 */ '.   .   .   sP1 sS1 .   hiD hiD .   .   .   .   .   .   .   .   .' /* 30 */
    /* 31 */ '.   con .   .   .   exH exH exH .   .   .   .   .   .   .   .   .' /* 31 */
    /* 32 */ '.   con .   sP2 sS2 exH exH exH .   .   .   .   .   .   .   .   .' /* 32 */
    /* 33 */ '.   .   .   .   .   exH exH exH .   .   .   .   .   .   .   .   .' /* 33 */
    /* 34 */ '.   .   .   sP3 sS3 .   .   .   .   .   .   .   .   .   .   .   .' /* 34 */
    /* 35 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 35 */
    /* 36 */ '.   .   .   sP4 sS4 .   .   .   .   .   .   .   .   .   .   .   .' /* 36 */
    /* 37 */ '.   inM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 37 */
    /* 38 */ '.   inM .   sP5 sS5 .   .   .   .   .   .   .   .   .   .   .   .' /* 38 */
    /* 39 */ '.   inM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 39 */
    /* 40 */ '.   inM .   sP6 sS6 .   .   .   .   .   .   .   .   .   .   .   .' /* 40 */
    /* 41 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 41 */
    /* 42 */ '.   int .   sP7 sS7 .   .   .   .   .   .   .   .   .   .   .   .' /* 42 */
    /* 43 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 43 */
    /* 44 */ '.   .   .   sP8 sS8 .   .   .   .   .   .   .   .   .   .   .   .' /* 44 */
    /* 45 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 45 */
    /* 46 */ '.   .   .   sP9 sS9 .   .   .   .   .   .   .   .   .   .   .   .' /* 46 */
    /* 47 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 47 */
    /* 48 */ '.   wiM .   sP0 sS0 .   .   .   .   .   .   .   .   .   .   .   .' /* 48 */
    /* 49 */ '.   wiM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 49 */
    /* 50 */ '.   wiM .   sPA sSA .   .   .   .   .   .   .   .   .   .   .   .' /* 50 */
    /* 51 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 51 */
    /* 52 */ '.   wis .   sPB sSB .   .   .   .   .   .   .   .   .   .   .   .' /* 52 */
    /* 53 */ '.   wis .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 53 */
    /* 54 */ '.   .   .   sPC sSC .   .   .   .   .   .   .   .   .   .   .   .' /* 54 */
    /* 55 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 55 */
    /* 56 */ '.   .   .   sPD sSD .   .   .   .   .   .   .   .   .   .   .   .' /* 56 */
    /* 57 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 57 */
    /* 58 */ '.   chM .   sPE sSE .   .   .   .   .   .   .   .   .   .   .   .' /* 58 */
    /* 59 */ '.   chM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 59 */
    /* 60 */ '.   chM .   sPF sSF .   .   .   .   .   .   .   .   .   .   .   .' /* 60 */
    /* 61 */ '.   chM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 61 */
    /* 62 */ '.   .   .   sPG sSG .   .   .   .   .   .   .   .   .   .   .   .' /* 62 */
    /* 63 */ '.   cha .   .   .   .   .   .   .   .   .   .   .   .   .   .   .' /* 63 */
    /* 64 */ '.   cha .   sPH sSH .   .   .   .   .   .   .   .   .   .   .   .'; /* 64 */
  /*******  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17 */
}

.sheetBackground {
  width: 100%;
}

.data {
  color: blue;
  font-size: 18px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 1;
}

.name {
  font-size: 28px;
  grid-area: nam;
}

.pClass {
  grid-area: pCl;
}

.race {
  grid-area: rac;
}

.exp {
  grid-area: exp;
  justify-content: flex-end;
}

.str {
  grid-area: str;
  justify-content: center;
}

.strMod {
  grid-area: stM;
  font-size: 32px;
  justify-content: center;
}

.dex {
  grid-area: dex;
  justify-content: center;
  line-height: 0.5;
}

.dexMod {
  grid-area: deM;
  font-size: 32px;
  justify-content: center;
}

.con {
  grid-area: con;
  justify-content: center;
}

.conMod {
  grid-area: coM;
  font-size: 32px;
  justify-content: center;
}

.int {
  grid-area: int;
  justify-content: center;
  line-height: 0.4;
}

.intMod {
  grid-area: inM;
  font-size: 32px;
  justify-content: center;
  align-items: center;
}

.wis {
  grid-area: wis;
  justify-content: center;
}

.wisMod {
  grid-area: wiM;
  font-size: 32px;
  justify-content: center;
}

.cha {
  grid-area: cha;
  justify-content: center;
  align-items: flex-start;
}

.chaMod {
  grid-area: chM;
  font-size: 32px;
  justify-content: center;
}

.proficiencyBonus {
  grid-area: pro;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.strProf {
  grid-area: stP;
  margin-left: 4px;
  align-items: flex-start;
}

.strSaving {
  grid-area: stS;
  align-items: center;
}

.dexProf {
  grid-area: deP;
  margin-left: 4px;
  align-items: flex-start;
}

.dexSaving {
  grid-area: deS;
  align-items: center;
}

.conProf {
  grid-area: coP;
  margin-left: 4px;
  align-items: flex-start;
}

.conSaving {
  grid-area: coS;
  align-items: center;
}

.intProf {
  grid-area: inP;
  margin-left: 4px;
  align-items: flex-start;
}

.intSaving {
  grid-area: inS;
  align-items: center;
}

.wisProf {
  grid-area: stP;
  margin-left: 4px;
  align-items: flex-start;
}

.wisSaving {
  grid-area: wiS;
  align-items: center;
}

.chaProf {
  grid-area: chP;
  margin-left: 4px;
  align-items: flex-start;
}

.chaSaving {
  grid-area: chS;
  align-items: center;
}

.speed {
  grid-area: spe;
  justify-content: center;
  align-items: flex-end;
  font-size: 32px;
  line-height: 0.5;
}

.maxHitPoints {
  grid-area: mhp;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 8px;
}

.hitPoints {
  grid-area: hps;
  justify-content: center;
  align-items: center;
  font-size: 44px;
}

.hitDice {
  grid-area: hiD;
}

.extraHitPoints {
  grid-area: exH;
  font-size: 24px;
  justify-content: center;
}

.acrobaticsProf {
  grid-area: sP1;
  margin-left: 5px;
  line-height: 0.6;
}

.acrobaticsSaving {
  grid-area: sS1;
}

.athleticsProf {
  grid-area: sP2;
  margin-left: 5px;
  line-height: 0.6;
}

.athleticsSaving {
  grid-area: sS2;
}

.arcanaProf {
  grid-area: sP3;
  margin-left: 5px;
  line-height: 0.6;
}

.arcanaSaving {
  grid-area: sS3;
}

.deceptionProf {
  grid-area: sP4;
  margin-left: 5px;
  line-height: 0.6;
}

.deceptionSaving {
  grid-area: sS4;
}

.historyProf {
  grid-area: sP5;
  margin-left: 5px;
  line-height: 0.6;
}

.historySaving {
  grid-area: sS5;
}

.performanceProf {
  grid-area: sP6;
  margin-left: 5px;
  line-height: 0.6;
}

.performanceSaving {
  grid-area: sS6;
}

.intimidationProf {
  grid-area: sP7;
  margin-left: 5px;
  line-height: 0.6;
}

.intimidationSaving {
  grid-area: sS7;
}

.investigationProf {
  grid-area: sP8;
  margin-left: 5px;
  line-height: 1;
}

.investigationSaving {
  grid-area: sS8;
}

.sleight-of-handProf {
  grid-area: sP9;
  margin-left: 5px;
  line-height: 1;
}

.sleight-of-handSaving {
  grid-area: sS9;
}

.medicineProf {
  grid-area: sP0;
  margin-left: 5px;
  line-height: 1;
}

.medicineSaving {
  grid-area: sS0;
}

.natureProf {
  grid-area: sPA;
  margin-left: 5px;
  line-height: 1;
}

.natureSaving {
  grid-area: sSA;
}

.perceptionProf {
  grid-area: sPB;
  margin-left: 5px;
  line-height: 1;
}

.perceptionSaving {
  grid-area: sSB;
}

.insightProf {
  grid-area: sPC;
  margin-left: 5px;
  line-height: 1;
}

.insightSaving {
  grid-area: sSC;
}

.persuasionProf {
  grid-area: sPD;
  margin-left: 5px;
  line-height: 1;
}

.persuasionSaving {
  grid-area: sSD;
}

.religionProf {
  grid-area: sPE;
  margin-left: 5px;
  line-height: 1;
}

.religionSaving {
  grid-area: sSE;
}

.stealthProf {
  grid-area: sPF;
  margin-left: 5px;
  line-height: 1;
}

.stealthSaving {
  grid-area: sSF;
}

.survivalProf {
  grid-area: sPG;
  margin-left: 5px;
  line-height: 1;
}

.survivalSaving {
  grid-area: sSG;
}

.animal-handlingProf {
  grid-area: sPH;
  margin-left: 5px;
  line-height: 1;
}

.animal-handlingSaving {
  grid-area: sSH;
}
