.sheet__summary {
  width: 100%;
  position: absolute;
  top: 4px;
  bottom: 4px;
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: 8.5% 3.5% 5% 2.5% 19% 4.5% 2% 2% 5.5% 4% 5.5% 1% 5.5% 10% 13% 1% 2%;
  grid-template-rows: 7% 1% 1% 1% 1% 1.2% 5% 1% 1% 1% 2% 1% 1% 1.5% 1% 1% 0.7% 0.9% 0.8% 0.9% 0.8% 0.7% 0.9% 0.9% 0.8% 0.8% 2% 2.6% 0.4% 0.9% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.8% 0.8% 0.9% 0.8% 0.9% 0.8% 0.9% 0.7% 0.9% 1% 3% 1% 1% 1% 1.2% 2% 1.2% 2% 1.2% 2% 1.2% 2% 3.9% 5%;
  /* prettier-ignore */
  grid-template-areas:
    /*******  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17 */
    /* 01 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 01 */
    /* 02 */ '.   .   .   .   .   .   .   pCl pCl pCl pCl .   .   .   pNa .   .  ' /* 02 */
    /* 03 */ '.   .   .   .   .   .   .   pCl pCl pCl pCl .   bgd bgd pNa .   .  ' /* 03 */
    /* 04 */ '.   .   nam nam nam .   .   .   .   .   .   .   .   .   .   .   .  ' /* 04 */
    /* 05 */ '.   .   nam nam nam .   .   rac rac rac rac .   .   .   exp .   .  ' /* 05 */
    /* 06 */ '.   .   .   .   .   .   .   rac rac rac rac .   .   .   exp .   .  ' /* 06 */
    /* 07 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 07 */
    /* 08 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   mit .   .  ' /* 08 */
    /* 09 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 09 */
    /* 10 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 10 */
    /* 11 */ '.   str .   .   .   pAC .   .   ini .   spe .   .   ity ity ity .  ' /* 11 */
    /* 12 */ '.   str .   pro .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 12 */
    /* 13 */ '.   .   .   pro .   .   .   .   .   .   .   .   .   ity ity ity .  ' /* 13 */
    /* 14 */ '.   stM .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 14 */
    /* 15 */ '.   .   .   .   .   .   .   .   mhp mhp mhp .   .   .   .   .   .  ' /* 15 */
    /* 16 */ '.   .   .   stP stS .   .   .   .   .   .   .   .   .   .   .   .  ' /* 16 */
    /* 17 */ '.   .   .   .   .   hps hps hps hps hps hps .   .   ide ide ide .  ' /* 17 */
    /* 18 */ '.   dex .   deP deS hps hps hps hps hps hps .   .   ide ide ide .  ' /* 18 */
    /* 19 */ '.   dex .   .   .   hps hps hps hps hps hps .   .   ide ide ide .  ' /* 19 */
    /* 20 */ '.   dex .   coP coS hps hps hps hps hps hps .   .   ide ide ide .  ' /* 20 */
    /* 21 */ '.   dex .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 21 */
    /* 22 */ '.   .   .   inP inS .   .   .   .   .   .   .   .   .   .   .   .  ' /* 22 */
    /* 23 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 23 */
    /* 24 */ '.   deM .   wiP wiS .   .   .   .   .   .   .   .   bnd bnd bnd .  ' /* 24 */
    /* 25 */ '.   .   .   .   .   thp thp thp thp thp thp .   .   bnd bnd bnd .  ' /* 25 */
    /* 26 */ '.   .   .   chP chS thp thp thp thp thp thp .   .   bnd bnd bnd .  ' /* 26 */
    /* 27 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   bnd bnd bnd .  ' /* 27 */
    /* 28 */ '.   con .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 28 */
    /* 29 */ '.   con .   .   .   hiD hiD hiD .   .   dsS .   .   flw flw flw .  ' /* 29 */
    /* 30 */ '.   .   .   sP1 sS1 hiD hiD hiD .   .   dsS .   .   flw flw flw .  ' /* 30 */
    /* 31 */ '.   coM .   .   .   exH exH exH .   .   .   .   .   flw flw flw .  ' /* 31 */
    /* 32 */ '.   coM .   sP2 sS2 exH exH exH .   .   dsF .   .   flw flw flw .  ' /* 32 */
    /* 33 */ '.   .   .   .   .   exH exH exH .   .   .   .   .   flw flw flw .  ' /* 33 */
    /* 34 */ '.   .   .   sP3 sS3 .   .   .   .   .   .   .   .   .   .   .   .  ' /* 34 */
    /* 35 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 35 */
    /* 36 */ '.   .   .   sP4 sS4 .   .   .   .   .   .   .   .   .   .   .   .  ' /* 36 */
    /* 37 */ '.   int .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 37 */
    /* 38 */ '.   int .   sP5 sS5 .   .   .   .   .   .   .   .   .   .   .   .  ' /* 38 */
    /* 39 */ '.   int .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 39 */
    /* 40 */ '.   int .   sP6 sS6 aN0 aN0 aN0 aB0 aT0 aT0 aT0 .   FnT FnT FnT FnT' /* 40 */
    /* 41 */ '.   .   .   .   .   aN0 aN0 aN0 aB0 aT0 aT0 aT0 .   FnT FnT FnT FnT' /* 41 */
    /* 42 */ '.   inM .   sP7 sS7 .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 42 */
    /* 43 */ '.   .   .   .   .   aN1 aN1 aN1 aB1 aT1 aT1 aT1 .   FnT FnT FnT FnT' /* 43 */
    /* 44 */ '.   .   .   sP8 sS8 aN1 aN1 aN1 aB1 aT1 aT1 aT1 .   FnT FnT FnT FnT' /* 44 */
    /* 45 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 45 */
    /* 46 */ '.   .   .   sP9 sS9 aN2 aN2 aN2 aB2 aT2 aT2 aT2 .   FnT FnT FnT FnT' /* 46 */
    /* 47 */ '.   .   .   .   .   aN2 aN2 aN2 aB2 aT2 aT2 aT2 .   FnT FnT FnT FnT' /* 47 */
    /* 48 */ '.   wis .   sP0 sS0 .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 48 */
    /* 49 */ '.   wis .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 49 */
    /* 50 */ '.   wis .   sPA sSA sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 50 */
    /* 51 */ '.   .   .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 51 */
    /* 52 */ '.   wiM .   sPB sSB sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 52 */
    /* 53 */ '.   wiM .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 53 */
    /* 54 */ '.   .   .   sPC sSC sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 54 */
    /* 55 */ '.   .   .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 55 */
    /* 56 */ '.   .   .   sPD sSD sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 56 */
    /* 57 */ '.   .   .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 57 */
    /* 58 */ '.   cha .   sPE sSE sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 58 */
    /* 59 */ '.   cha .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 59 */
    /* 60 */ '.   cha .   sPF sSF sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 60 */
    /* 61 */ '.   cha .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 61 */
    /* 62 */ '.   .   .   sPG sSG sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 62 */
    /* 63 */ '.   chM .   .   .   sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 63 */
    /* 64 */ '.   chM .   sPH sSH sAt sAt sAt sAt sAt sAt sAt .   FnT FnT FnT FnT' /* 64 */
    /* 65 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 65 */
    /* 66 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 66 */
    /* 67 */ 'per .   .   .   .   .   .   .   .   .   .   .   .   FnT FnT FnT FnT' /* 67 */
    /* 68 */ '.   .   .   .   .   cpr .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 68 */
    /* 69 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 69 */
    /* 70 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 70 */
    /* 71 */ '.   CnL CnL CnL CnL slv .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 71 */
    /* 72 */ '.   CnL CnL CnL CnL ele .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 72 */
    /* 73 */ '.   CnL CnL CnL CnL .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 73 */
    /* 74 */ '.   CnL CnL CnL CnL .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 74 */
    /* 75 */ '.   CnL CnL CnL CnL gld .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 75 */
    /* 76 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 76 */
    /* 77 */ '.   .   .   .   .   ptm .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 77 */
    /* 78 */ '.   .   .   .   .   .   .   equ equ equ equ equ .   FnT FnT FnT FnT' /* 78 */
    /* 79 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  '; /* 79 */
  /*********  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17 */
}

.sheet__background {
  width: 100%;
  z-index: 0;
  position: relative;
}

.sheet__notes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.sheet__annotation {
  font-size: var(--font-size-xxs);
  position: absolute;
  top: -5px;
  left: 30px;
}

.sheet__data {
  color: #0000d4;
  font-size: var(--font-size-l);
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 1;
  position: relative;
}

.sheet__submit {
  grid-area: mit;
  margin: -28px 90px 14px -30px;
  font-family: var(--font-family);
  border-radius: 5px;
  cursor: pointer;
}

.sheet__name {
  font-size: var(--font-size-big);
  grid-area: nam;
  resize: none;
  background-color: transparent;
  border: none;
  height: 36px;
  margin: -2px 0 0 0;
  font-family: var(--font-family);
  hyphens: auto;
}

.sheet__pClass {
  grid-area: pCl;
}

.sheet__background {
  grid-area: bgd;
}

.sheet__player-name {
  grid-area: pNa;
}

.sheet__race {
  grid-area: rac;
}

.sheet__exp {
  grid-area: exp;
  justify-content: flex-end;
}

.sheet__str {
  grid-area: str;
  justify-content: center;
  font-size: var(--font-size-xbig);
}

.sheet__strMod {
  grid-area: stM;
  justify-content: center;
}

.sheet__dex {
  grid-area: dex;
  justify-content: center;
  line-height: 1;
  font-size: var(--font-size-xbig);
}

.sheet__dexMod {
  grid-area: deM;
  justify-content: center;
  align-items: flex-start;
}

.sheet__con {
  grid-area: con;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xbig);
}

.sheet__conMod {
  grid-area: coM;
  justify-content: center;
  align-items: center;
}

.sheet__int {
  grid-area: int;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: var(--font-size-xbig);
}

.sheet__intMod {
  grid-area: inM;
  justify-content: center;
  align-items: flex-start;
}

.sheet__wis {
  grid-area: wis;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xbig);
}

.sheet__wisMod {
  grid-area: wiM;
  justify-content: center;
}

.sheet__cha {
  grid-area: cha;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xbig);
}

.sheet__chaMod {
  grid-area: chM;
  justify-content: center;
  align-items: flex-start;
}

.sheet__proficiency-bonus {
  grid-area: pro;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-big);
}

.sheet__strProf {
  grid-area: stP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.sheet__strSaving {
  grid-area: stS;
  align-items: center;
}

.sheet__dexProf {
  grid-area: deP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.sheet__dexSaving {
  grid-area: deS;
  align-items: center;
}

.sheet__conProf {
  grid-area: coP;
  transform: rotate(45deg);
  margin: 6px 0px 0px 4px;
  align-items: flex-start;
}

.sheet__conSaving {
  grid-area: coS;
  align-items: center;
}

.sheet__intProf {
  grid-area: inP;
  transform: rotate(45deg);
  margin: 3px 0px 0px 5px;
  align-items: flex-start;
}

.sheet__intSaving {
  grid-area: inS;
  align-items: center;
}

.sheet__wisProf {
  grid-area: wiP;
  transform: rotate(45deg);
  margin: 4px 0px 0px 4px;
  align-items: flex-start;
}

.sheet__wisSaving {
  grid-area: wiS;
  align-items: center;
}

.sheet__chaProf {
  grid-area: chP;
  transform: rotate(45deg);
  margin: 3px 0px 0px 4px;
  align-items: flex-start;
}

.sheet__chaSaving {
  grid-area: chS;
  align-items: center;
}

.sheet__armor-class {
  grid-area: pAC;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--font-size-xbig);
  line-height: 1.6;
}

.sheet__initiative {
  grid-area: ini;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--font-size-l);
  line-height: 1;
}

.sheet__initiativeInput {
  width: 100%;
  position: absolute;
  top: -20%;
  bottom: -50%;
  border: none;
  text-align: center;
  font-size: var(--font-size-xbig);
  color: var(--color-blue-ink);
}

.sheet__initiativeInput::placeholder {
  font-size: var(--font-size-l);
  color: var(--color-x-blue-ink);
}

.sheet__extra-armor-class {
  font-size: var(--font-size-s);
  line-height: 2;
  position: absolute;
  top: 0;
  right: -12px;
}

.sheet__speed {
  grid-area: spe;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--font-size-xbig);
  line-height: 0.5;
}

.sheet__max-hit-points {
  grid-area: mhp;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 8px;
  padding: 0 0 0 42px;
}

.sheet__hit-points {
  grid-area: hps;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xhuge);
}

.sheet__extra-hit-points {
  position: absolute;
  left: calc(50% + 22px);
  font-size: var(--font-size-xhuge);
  animation: extra_hit_points 5s cubic-bezier(0.005, 0.7, 0.25, 1);
}

@keyframes extra_hit_points {
  0% {
    margin-top: 32px;
    color: var(--color-blue-ink);
  }
  100% {
    margin-top: -32px;
    color: var(--color-green);
  }
}

.sheet__temporary-hit-points {
  grid-area: thp;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xhuge);
}

.sheet__temporary-hit-points-input {
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: var(--font-family);
  color: var(--color-blue-ink);
  font-size: var(--font-size-xhuge);
  width: 100%;
  text-align: center;
}

.sheet__hit-dice {
  grid-area: hiD;
  justify-content: flex-end;
}

.sheet__remaining-hit-dice {
  grid-area: exH;
  font-size: var(--font-size-xxxl);
  justify-content: center;
  padding: 12px 0 0;
}

.sheet__death-saving-throw-success {
  grid-area: dsS;
  position: absolute;
  font-size: var(--font-size-xxxl);
  justify-content: center;
  padding: 12px 0 0;
}

.sheet__death-saving-throw-failure {
  grid-area: dsF;
  position: absolute;
  font-size: var(--font-size-xxxl);
  justify-content: center;
  padding: 12px 0 0;
}

.sheet__attack-name-0 {
  grid-area: aN0;
  font-size: var(--font-size-s);
  justify-content: center;
  margin-left: -20px;
  width: 120%;
}

.sheet__attack-bonus-0 {
  grid-area: aB0;
  justify-content: center;
  margin-right: -16px;
  line-height: 1.6;
}

.sheet__attack-type-0 {
  grid-area: aT0;
  font-size: var(--font-size-s);
  justify-content: center;
  width: 110%;
  margin-bottom: -8px;
}

.sheet__attack-name-1 {
  grid-area: aN1;
  font-size: var(--font-size-s);
  justify-content: center;
  margin-left: -20px;
  width: 120%;
}

.sheet__attack-bonus-1 {
  grid-area: aB1;
  justify-content: center;
  margin-right: -16px;
  line-height: 1.6;
}

.sheet__attack-type-1 {
  grid-area: aT1;
  font-size: var(--font-size-s);
  justify-content: center;
  width: 110%;
  margin-bottom: -8px;
}

.sheet__attack-name-2 {
  grid-area: aN2;
  font-size: var(--font-size-s);
  justify-content: center;
  margin-left: -20px;
  width: 120%;
}

.sheet__attack-bonus-2 {
  grid-area: aB2;
  justify-content: center;
  margin-right: -16px;
  line-height: 1.6;
}

.sheet__attack-type-2 {
  grid-area: aT2;
  font-size: var(--font-size-s);
  justify-content: center;
  width: 110%;
  margin-bottom: -8px;
}

.sheet__attack-handler {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 0 8px;
}

.sheet__attack-handler-character {
  color: #0000d44d;
  cursor: pointer;
  font-size: var(--font-size-m);
  position: absolute;
  left: -2px;
  top: 50%;
  margin-top: -4px;
}

.sheet__attack-name--hover {
  background-color: var(--color-x-pale);
}

.sheet__select-attack {
  font-size: var(--font-size-s);
  font-family: var(--font-family);
  color: #0000d4;
  text-align: center;
  appearance: none;
  border: none;
  line-height: 2;
  padding: 0 0 0 4px;
  margin: 4px 0 0 0;
  cursor: pointer;
}

.sheet__select-attack:hover {
  color: var(--color-x-blue-ink);
}

.sheet__select-attack:focus-visible {
  outline: none;
}

.sheet__superscript {
  position: absolute;
  right: 2px;
  top: 2px;
}

.sheet__special-attacks {
  grid-area: sAt;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: decimal;
  padding-left: 12px;
  font-size: var(--font-size-s);
  margin: 4px 0px 0px -20px;
  line-height: 1.5;
  width: 105%;
  hyphens: auto;
}

.sheet__special-attack {
  text-align: left;
}

.sheet__acrobaticsProf {
  grid-area: sP1;
  transform: rotate(45deg);
  margin: 0px 0px -4px 3px;
  line-height: 0.6;
}

.sheet__acrobaticsSaving {
  grid-area: sS1;
}

.sheet__athleticsProf {
  grid-area: sP2;
  transform: rotate(45deg);
  margin: 0px 0px -3px 3px;
  line-height: 0.6;
}

.sheet__athleticsSaving {
  grid-area: sS2;
}

.sheet__arcanaProf {
  grid-area: sP3;
  transform: rotate(45deg);
  margin: 0px 0px -2px 3px;
  line-height: 0.6;
}

.sheet__arcanaSaving {
  grid-area: sS3;
}

.sheet__deceptionProf {
  grid-area: sP4;
  transform: rotate(45deg);
  margin: 0px 0px -2px 3px;
  line-height: 0.6;
}

.sheet__deceptionSaving {
  grid-area: sS4;
}

.sheet__historyProf {
  grid-area: sP5;
  transform: rotate(45deg);
  margin: 0px 0px -2px 3px;
  line-height: 0.6;
}

.sheet__historySaving {
  grid-area: sS5;
}

.sheet__performanceProf {
  grid-area: sP6;
  transform: rotate(45deg);
  margin: 0px 0px -2px 2px;
  line-height: 0.6;
}

.sheet__performanceSaving {
  grid-area: sS6;
}

.sheet__intimidationProf {
  grid-area: sP7;
  transform: rotate(45deg);
  margin: 0px 0px -2px 2px;
  line-height: 0.6;
}

.sheet__intimidationSaving {
  grid-area: sS7;
}

.sheet__investigationProf {
  grid-area: sP8;
  transform: rotate(45deg);
  margin: 0px 0px -4px 1px;
  line-height: 1;
}

.sheet__investigationSaving {
  grid-area: sS8;
}

.sheet__sleight-of-handProf {
  grid-area: sP9;
  transform: rotate(45deg);
  margin: 0px 0px -5px 0px;
  line-height: 1;
}

.sheet__sleight-of-handSaving {
  grid-area: sS9;
}

.sheet__medicineProf {
  grid-area: sP0;
  transform: rotate(45deg);
  margin: 0px 0px -4px 1px;
  line-height: 1;
}

.sheet__medicineSaving {
  grid-area: sS0;
}

.sheet__natureProf {
  grid-area: sPA;
  transform: rotate(45deg);
  margin: 0px 0px -3px 0px;
  line-height: 1;
}

.sheet__natureSaving {
  grid-area: sSA;
}

.sheet__perceptionProf {
  grid-area: sPB;
  transform: rotate(45deg);
  margin: 0px 0px -3px 0px;
  line-height: 1;
}

.sheet__perceptionSaving {
  grid-area: sSB;
}

.sheet__insightProf {
  grid-area: sPC;
  transform: rotate(45deg);
  margin: 0px 0px -3px 0px;
  line-height: 1;
}

.sheet__insightSaving {
  grid-area: sSC;
}

.sheet__persuasionProf {
  grid-area: sPD;
  transform: rotate(45deg);
  margin: 0px 0px -4px 0px;
  line-height: 1;
}

.sheet__persuasionSaving {
  grid-area: sSD;
}

.sheet__religionProf {
  grid-area: sPE;
  transform: rotate(45deg);
  margin: 0px 0px -3px 0px;
  line-height: 1;
}

.sheet__religionSaving {
  grid-area: sSE;
}

.sheet__stealthProf {
  grid-area: sPF;
  transform: rotate(45deg);
  margin: 0px 0px -2px 0px;
  line-height: 1;
}

.sheet__stealthSaving {
  grid-area: sSF;
}

.sheet__survivalProf {
  grid-area: sPG;
  transform: rotate(45deg);
  margin: 0px 0px -1px 0px;
  line-height: 1;
}

.sheet__survivalSaving {
  grid-area: sSG;
}

.sheet__animal-handlingProf {
  grid-area: sPH;
  transform: rotate(45deg);
  margin: 0px 0px -2px 0px;
  line-height: 1;
}

.sheet__animal-handlingSaving {
  grid-area: sSH;
}

.sheet__passive-perception {
  grid-area: per;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: var(--font-size-big);
  margin-right: -5px;
}

.sheet__equipment {
  grid-area: equ;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-s);
  line-height: 1.54;
  hyphens: auto;
  width: 104%;
  margin: 2px 0px 0 -4px;
  padding: 0 0px 0 0px;
  list-style: none;
}

.sheet__coin-input {
  font-size: var(--font-size-l);
  font-family: var(--font-family);
  color: var(--color-blue-ink);
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -8px;
  left: 0;
}

.sheet__copper {
  grid-area: cpr;
  margin: 0 0 0 0;
}

.sheet__silver {
  grid-area: slv;
  margin: 0 0 0 0;
}

.sheet__electrum {
  grid-area: ele;
  margin: 18px 0 0 0;
}

.sheet__gold {
  grid-area: gld;
  margin: 0 0 0 0;
}

.sheet__platinum {
  grid-area: ptm;
  margin: -2px 0 0 0;
}

.sheet__feats-and-traits {
  grid-area: FnT;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.52;
  padding: 6px 0 0 0;
  margin: 0;
  hyphens: auto;
}

.sheet__personality {
  grid-area: ity;
  resize: none;
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.73;
  hyphens: auto;
}

.sheet__ideals {
  grid-area: ide;
  resize: none;
  background-color: transparent;
  border: none;
  margin: -13px 0px 0px 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.73;
  hyphens: auto;
}

.sheet__bonds {
  grid-area: bnd;
  resize: none;
  background-color: transparent;
  border: none;
  margin: 4px 0px 0px 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.73;
  hyphens: auto;
}

.sheet__flaws {
  grid-area: flw;
  resize: none;
  background-color: transparent;
  border: none;
  margin: -2px 0px -7px 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: 1.73;
  hyphens: auto;
}

.sheet__competences-and-languages {
  grid-area: CnL;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.35;
  padding: 0px 70px 0 0;
  margin: -6px 0 0 0;
}

/*  */

.sheet__trait-label {
  font-size: var(--font-size-s);
  margin: 0;
  padding: 0;
  text-align: left;
}

.sheet__trait-title {
  text-decoration: underline;
}

.sheet__trait {
  font-weight: bolder;
  font-size: var(--font-size-m);
}

.sheet__trait-item {
  font-weight: bolder;
  font-size: var(--font-size-m);
  margin-left: 32px;
}

.sheet__pending-trait {
  position: absolute;
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 0.8;
  animation: pending_trait 1s infinite;
  transition: margin ease-in;
}

@keyframes pending_trait {
  0% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
  33% {
    margin-top: -3px;
    transition: margin ease-in;
  }
  66% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
  70.25% {
    color: var(--color-green);
  }
  74.5% {
    margin-top: -3px;
    color: var(--color-orange);
    transition: margin ease-in;
  }
  78.75% {
    color: var(--color-green);
  }
  83% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
  87.25% {
    color: var(--color-green);
  }
  91.5% {
    margin-top: -1px;
    color: var(--color-orange);
    transition: margin ease-in;
  }
  95.75% {
    color: var(--color-green);
  }
  100% {
    margin-top: 2px;
    color: var(--color-green);
    transition: margin ease-out;
  }
}
