.spells {
  width: 100%;
  position: absolute;
  top: 4px;
  bottom: 4px;
  font-family: fantasy;
  display: grid;
  grid-template-columns: 6% 1% 2% 7% 2% 15% 3.5% 1% 2% 2% 5% 2% 8% 6.5% 3.5% 1% 2% 3% 4% 2% 1% 10% 3%;
  grid-template-rows: 8% 1% 2% 0.7% 7% 3% 1.5% 12.5% 2% 2% 2.5% 1.7% 0.5% 2% 3% 1.5% 7.5% 2% 3% 1.2% 0.6% 2% 3% 1.5% 0.5% 2% 1.5% 1.3% 0.8% 0.6% 2% 1.4% 11%;
  /* prettier-ignore */
  grid-template-areas:
    /*******  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17  18  19  20  21  22  23 */
    /* 01 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 01 */
    /* 02 */ '.   .   .   .   .   .   .   .   .   .   .   spA spA .   sTh sTh sTh sTh .   .   .   atB .  ' /* 02 */
    /* 03 */ '.   .   .   nam nam nam nam nam nam .   .   spA spA .   sTh sTh sTh sTh .   .   .   atB .  ' /* 03 */
    /* 04 */ '.   .   .   nam nam nam nam nam nam .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 04 */
    /* 05 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 05 */
    /* 06 */ '.   .   .   .   .   .   .   .   .   tS3 tS3 .   sS3 sS3 .   .   .   tS6 tS6 .   sS6 sS6 sS6' /* 06 */
    /* 07 */ '.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 07 */
    /* 08 */ '.   sp0 sp0 sp0 sp0 sp0 .   sp3 sp3 sp3 sp3 sp3 sp3 sp3 .   sp6 sp6 sp6 sp6 sp6 sp6 sp6 sp6' /* 08 */
    /* 09 */ '.   .   .   .   .   .   .   sp3 sp3 sp3 sp3 sp3 sp3 sp3 .   sp6 sp6 sp6 sp6 sp6 sp6 sp6 sp6' /* 09 */
    /* 10 */ '.   .   .   .   .   .   .   sp3 sp3 sp3 sp3 sp3 sp3 sp3 .   .   .   .   .   .   .   .   .  ' /* 10 */
    /* 11 */ '.   .   .   tS1 .   sS1 .   sp3 sp3 sp3 sp3 sp3 sp3 sp3 .   .   .   tS7 tS7 .   sS7 sS7 sS7' /* 11 */
    /* 12 */ '.   .   .   .   .   .   .   sp3 sp3 sp3 sp3 sp3 sp3 sp3 .   .   .   .   .   .   .   .   .  ' /* 12 */
    /* 13 */ '.   .   .   .   .   .   .   sp3 sp3 sp3 sp3 sp3 sp3 sp3 .   sp7 sp7 sp7 sp7 sp7 sp7 sp7 sp7' /* 13 */
    /* 14 */ '.   sp1 sp1 sp1 sp1 sp1 .   .   .   .   .   .   .   .   .   sp7 sp7 sp7 sp7 sp7 sp7 sp7 sp7' /* 14 */
    /* 15 */ '.   sp1 sp1 sp1 sp1 sp1 .   .   .   tS4 tS4 .   sS4 sS4 .   sp7 sp7 sp7 sp7 sp7 sp7 sp7 sp7' /* 15 */
    /* 16 */ '.   sp1 sp1 sp1 sp1 sp1 .   .   .   .   .   .   .   .   .   sp7 sp7 sp7 sp7 sp7 sp7 sp7 sp7' /* 16 */
    /* 17 */ '.   sp1 sp1 sp1 sp1 sp1 .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   sp7 sp7 sp7 sp7 sp7 sp7 sp7 sp7' /* 17 */
    /* 18 */ '.   sp1 sp1 sp1 sp1 sp1 .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   .   .   .   .   .   .   .   .  ' /* 18 */
    /* 19 */ '.   sp1 sp1 sp1 sp1 sp1 .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   .   .   tS8 tS8 .   sS8 sS8 sS8' /* 19 */
    /* 20 */ '.   sp1 sp1 sp1 sp1 sp1 .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   .   .   .   .   .   .   .   .  ' /* 20 */
    /* 21 */ '.   sp1 sp1 sp1 sp1 sp1 .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   sp8 sp8 sp8 sp8 sp8 sp8 sp8 sp8' /* 21 */
    /* 22 */ '.   .   .   .   .   .   .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   sp8 sp8 sp8 sp8 sp8 sp8 sp8 sp8' /* 22 */
    /* 23 */ '.   .   .   tS2 .   sS2 .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   sp8 sp8 sp8 sp8 sp8 sp8 sp8 sp8' /* 23 */
    /* 24 */ '.   .   .   .   .   .   .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   sp8 sp8 sp8 sp8 sp8 sp8 sp8 sp8' /* 24 */
    /* 25 */ '.   sp2 sp2 sp2 sp2 sp2 .   sp4 sp4 sp4 sp4 sp4 sp4 sp4 .   sp8 sp8 sp8 sp8 sp8 sp8 sp8 sp8' /* 25 */
    /* 26 */ '.   sp2 sp2 sp2 sp2 sp2 .   .   .   .   .   .   .   .   .   sp8 sp8 sp8 sp8 sp8 sp8 sp8 sp8' /* 26 */
    /* 27 */ '.   sp2 sp2 sp2 sp2 sp2 .   .   .   tS5 tS5 .   sS5 sS5 .   sp8 sp8 sp8 sp8 sp8 sp8 sp8 sp8' /* 27 */
    /* 28 */ '.   sp2 sp2 sp2 sp2 sp2 .   .   .   tS5 tS5 .   sS5 sS5 .   .   .   .   .   .   .   .   .  ' /* 28 */
    /* 29 */ '.   sp2 sp2 sp2 sp2 sp2 .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ' /* 29 */
    /* 30 */ '.   sp2 sp2 sp2 sp2 sp2 .   .   .   .   .   .   .   .   .   .   .   tS9 tS9 .   sS9 sS9 sS9' /* 30 */
    /* 31 */ '.   sp2 sp2 sp2 sp2 sp2 .   sp5 sp5 sp5 sp5 sp5 sp5 sp5 .   .   .   tS9 tS9 .   sS9 sS9 sS9' /* 31 */
    /* 32 */ '.   sp2 sp2 sp2 sp2 sp2 .   sp5 sp5 sp5 sp5 sp5 sp5 sp5 .   .   .   .   .   .   .   .   .  ' /* 32 */
    /* 33 */ '.   sp2 sp2 sp2 sp2 sp2 .   sp5 sp5 sp5 sp5 sp5 sp5 sp5 .   sp9 sp9 sp9 sp9 sp9 sp9 sp9 sp9' /* 33 */
  /*********  1 . 2 . 3 . 4 . 5 . 6 . 7 . 8 . 9  10  11  12  13  14  15  16  17 */
}

.sheetBackground {
  width: 100%;
}

.annotation {
  font-size: 10px;
  position: absolute;
  top: -5px;
  left: 30px;
}

.data {
  color: #0000d4;
  font-size: 18px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 1;
  position: relative;
}

.submit {
  grid-area: mit;
  margin: -28px 90px 14px -30px;
  font-family: fantasy;
  border-radius: 5px;
  cursor: pointer;
}

.name {
  font-size: 28px;
  grid-area: nam;
  justify-content: center;
  margin: 0 0 4px 0;
}

.spellAbility {
  grid-area: spA;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 12px 0 0 0;
}

.savingThrow {
  grid-area: sTh;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 12px 0 0 0;
}

.attackBonus {
  grid-area: atB;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 12px 0 0 0;
}

.spells-0 {
  grid-area: sp0;
  flex-direction: column;
  align-items: flex-start;
  margin: -12px 0 0 0;
  padding: 0 0 0 8px;
}

.totalSpaces-1 {
  grid-area: tS1;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-1 {
  grid-area: sS1;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-1 {
  grid-area: sp1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 10px 0 -20px 0px;
}

.totalSpaces-2 {
  grid-area: tS2;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-2 {
  grid-area: sS2;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-2 {
  grid-area: sp2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.totalSpaces-3 {
  grid-area: tS3;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-3 {
  grid-area: sS3;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-3 {
  grid-area: sp3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.totalSpaces-4 {
  grid-area: tS4;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-4 {
  grid-area: sS4;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-4 {
  grid-area: sp4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.totalSpaces-5 {
  grid-area: tS5;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-5 {
  grid-area: sS5;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-5 {
  grid-area: sp5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.totalSpaces-6 {
  grid-area: tS6;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-6 {
  grid-area: sS6;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-6 {
  grid-area: sp6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.totalSpaces-7 {
  grid-area: tS7;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-7 {
  grid-area: sS7;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-7 {
  grid-area: sp7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.totalSpaces-8 {
  grid-area: tS8;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-8 {
  grid-area: sS8;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-8 {
  grid-area: sp8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.totalSpaces-9 {
  grid-area: tS9;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spentSpaces-9 {
  grid-area: sS9;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 8px 0 0 0;
}

.spells-9 {
  grid-area: sp9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 2px;
  margin: 12px 0 -20px 0;
}

.spell {
  font-size: 16px;
  text-align: left;
  margin: 0 0 0px 0;
  padding: 0 0 0 20px;
  line-height: 1.71;
  max-width: 50%;
}

.preparedSpells {
  font-size: 16px;
  margin: 0 0 0 8px;
}

.preparedSpell {
  display: none;
}

.preparedSpellNotChecked {
  height: 10px;
  width: 10px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: 7px 0 0px -2px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid gray;
  position: absolute;
  top: 0;
  left: 0;
}

.preparedSpellNotChecked:hover {
  background-color: #d0d0ef;
}

.preparedSpellChecked {
  height: 12px;
  width: 12px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: 2px 0px 0px 0px;
  cursor: pointer;
  position: absolute;
  top: -4px;
  left: -1px;
  font-size: 22px;
}

.preparedSpellChecked:hover {
  color: rgb(128, 128, 225);
}

.preparedSpell ~ .preparedSpellChecked {
  display: none;
}

.preparedSpell ~ .preparedSpellNotChecked {
  display: inline;
}

.preparedSpell:checked ~ .preparedSpellChecked {
  display: inline;
}

.preparedSpell:checked ~ .preparedSpellNotChecked {
  display: none;
}

.hideNextBullet {
  position: absolute;
  width: 14px;
  height: 15px;
  background-color: white;
  left: -2px;
  bottom: 6px;
  z-index: -1;
  border-radius: 50%;
}
