.stats {
  display: table;
  margin: auto;
  border-collapse: separate;
  border-spacing: 8px 16px;
  margin: 32px auto;
}

.stat {
  display: table-row;
}

.stats__cell {
  display: table-cell;
  padding: 0;
}

.stats__leftCell {
  text-align: right;
  padding: 0 4px 0 0;
}

.stats__rightCell {
  text-align: left;
}

.stats__statName {
  padding: 0 12px;
  font-size: var(--font-size-l);
}

.stats__statValue {
  padding: 4px 8px 0px !important;
  font-size: var(--font-size-xxxl);
}

.stats__statInput {
  padding: 4px 8px !important;
  background-color: var(--color-base);
  color: white;
  font-family: var(--font-family);
  width: 30px;
  border: none;
  font-size: var(--font-size-xl);
}

.stats__statButton {
  background-color: var(--color-light);
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  font-size: var(--font-size-l);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 8px 0 0;
  padding: 0 0 0 0;
  line-height: 1;
  cursor: pointer;
  font-family: var(--font-family);
}

.stats__statButton--big {
  width: 28px;
  height: 28px;
}

.stats__statButton:hover {
  background-color: var(--color-pale);
}

.stats__statButton[disabled] {
  background-color: gray;
  border-color: lightgray;
  color: lightgray;
  cursor: initial;
}
