.characters__container {
  width: 95%;
  height: fit-content;
  padding: 8px 0;
  margin: 0 auto;
  position: relative;
}

.characters__content {
  max-width: 768px;
  margin: auto;
}

.characters__trait-title {
  border-bottom: 1px solid var(--color-x-pale);
  margin: 0 0 8px 0;
}

.characters__trait-label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.characters__trait-label--small {
  flex-shrink: 1;
  flex-grow: 0;
}

.characters__trait-label--row {
  flex-direction: row;
  justify-content: center;
  line-height: 3;
}

.characters__trait-cell {
  flex-basis: 50%;
  margin: 8px 16px;
}

.characters__trait-cell--left {
  text-align: end;
}

.characters__trait-cell--right {
  text-align: start;
}

.characters__trait-input-title {
  width: 100%;
}

.characters__trait-input {
  color: white !important;
}

.characters__range-marks {
  color: white;
}

.characters__stats-roll {
  border: 1px solid var(--color-pale);
  background-color: var(--color-base);
  border-radius: 10px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 2;
  margin-right: 8px;
}

.characters__stat-input {
  color: white;
  border: 1px solid var(--color-pale);
  background-color: var(--color-base);
  border-radius: 10px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 2;
  margin-right: 8px;
  padding: 4px 0px 4px 12px;
  font-size: var(--font-size-xxl);
  font-family: var(--font-family);
}

.characters__stat-input--highlight {
  border-color: var(--color-x-pale);
  background-color: var(--color-light);
}

.characters__stat-input--hover {
  border-color: var(--color-gray);
  background-color: var(--color-pale);
}

.characters__can-drag {
  color: var(--color-x-green);
  cursor: pointer;
}

.characters__can-drag:hover {
  border-color: var(--color-x-pale);
  background-color: var(--color-pale);
}

.characters__cannot-drag {
  color: var(--color-red);
}

.characters__skill-label {
  display: block;
}

.characters__stat-values {
  display: flex;
  justify-content: center;
}

.characters__stat-value {
  font-weight: 700;
  color: var(--color-x-green);
  border: 1px solid var(--color-pale);
  background-color: var(--color-base);
  border-radius: 10px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 2;
  margin-right: 8px;
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  padding: 4px 0 4px 12px;
}

.characters__stat-value:disabled {
  color: var(--color-red);
}

.characters__equipment-container {
  display: flex;
  flex-direction: column;
}

.characters__equipment-item {
  display: block;
}

.characters__action-modal {
  background-color: var(--color-x-pale);
}

.characters__name {
  background-color: var(--color-x-pale);
}

.characters__character-content {
  position: relative;
  border-color: black;
  border-inline-style: groove;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  margin: -23px 0 0 0;
  padding: 32px 16px 16px 16px;
  background-color: var(--color-light);
  text-align: left;
  overflow-y: scroll;
  max-height: 80vh;
  font-size: var(--font-size-s);
  color: white;
}

.characters__section {
  display: flex;
  flex-direction: column;
}

.characters__section-title {
  margin: 16px 0 0;
  color: var(--color-x-pale);
}

.characters__actions-divider {
  margin: 0 0 8px;
  border-color: var(--color-x-pale);
}

.characters__section-divider {
  border-color: var(--color-x-pale);
}

.characters__attr-section {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 0 16px;
}

.characters__attr-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters__bold {
  font-weight: bolder;
  color: var(--color-x-pale);
}

.characters__p {
  margin: 12px 0 0;
}

.characters__title {
  color: var(--color-x-pale);
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  margin: 0;
  font-weight: bolder;
}

.characters__title-capital {
  font-size: var(--font-size-xxxl);
}

.characters__subtitle {
  font-size: var(--font-size-s);
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.characters__attrs {
  margin: 0 8%;
}

.characters__parallel-attrs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.characters__attrs-title {
  font-size: var(--font-size-l);
  text-align: start;
  margin: 0;
  color: var(--color-x-pale);
}

.characters__trait-columns {
  column-count: 2;
  display: block;
  text-align: start;
  margin: 8px 32px;
}

.characters__trait-columns--three {
  column-count: 3;
  display: flex;
  justify-content: center;
  column-gap: 32px;
  margin: 48px auto 0;
}

.characters__trait-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.characters__trait-sections-stats {
  column-count: 2;
  margin: 32px;
}

.characters__traits {
  display: block;
  text-align: start;
  margin: 8px 32px;
}

.characters__parallel-traits {
  display: block;
  text-align: start;
  margin: 8px 0;
  padding: 0 4%;
}

.characters__trait {
  display: block;
  text-align: start;
}

.characters__trait-title {
  color: var(--color-x-pale);
}

.characters__trait-description {
  text-align: start;
}
