.bar {
  font-family: monospace;
  font-size: 12px;
  border-bottom: 1px solid #0000d4;
  position: relative;
  display: inline-block;
}

.greenBar {
  color: var(--color-green);
}

.blueBar {
  color: var(--color-blue-ink);
}

.orangeBar {
  color: var(--color-orange);
}

.redBar {
  color: var(--color-red);
}

.xBlueBar {
  color: var(--color-x-blue-ink);
}

.cursorValue {
  position: absolute;
  top: -16px;
  font-family: fantasy;
  font-size: 14px;
  width: 0px;
  display: flex;
  justify-content: flex-end;
}

.cursorValue::after {
  content: '|';
  position: absolute;
  top: 5px;
  right: -5px;
}

.softLimit {
  color: orange;
  position: absolute;
  top: 20px;
  font-family: fantasy;
  font-size: 14px;
  width: 0px;
  display: flex;
  justify-content: flex-end;
}

.softLimit::after {
  color: #daa645;
  content: '|';
  position: absolute;
  top: -5px;
  right: -5px;
}

.hardLimit {
  color: red;
  position: absolute;
  top: 20px;
  font-family: fantasy;
  font-size: 14px;
  width: 0px;
  display: flex;
  justify-content: flex-end;
}

.hardLimit::after {
  color: #d84343;
  content: '|';
  position: absolute;
  top: -5px;
  right: -5px;
}

.cursorOverlay {
  position: absolute;
  top: -100%;
  left: 80%;
  color: white;
  font-weight: bold;
}
